{{response.files.append(URL(r=request,c='static/css',f='browse.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="padded_container form_container no_bottom_padding">
  <h2>Categories</h2>

  <!-- Loop through all categories numerically. Need the index for the link redirect -->
  <div class = "category_holder">
    {{for category in categories:}}

        <div class = "category_button border-box-sizing">
          <a href = "{{=URL('browse','all',args = category)}}" class="content">
            {{=category}}
          </a>
        </div>
    {{pass}}
  </div>

  <div class="line_seperator"></div>

  <h2>{{=category_name.replace('_', ' ')}}</h2>

  <div class=" no-left-right-padding projects">
    {{for project in allprojects:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>

</div>
