{{response.files.append(URL(r=request,c='static/css',f='index.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class = "featured_project">
  <h1>Featured Project Title</h1>
</div>

<div class="padded_container form_container">
  <h1>Latest Projects</h1>
</div>

<div class="projects">
  {{for project in latest_projects:}}
    {{include "subviews/project-display.html"}}
  {{pass}}
</div>

<div class="padded_container form_container">
  <h1>Coolest Projects</h1>
</div>

<div class="projects">

</div>
