{{response.files.append(URL(r=request,c='static/css',f='index.css'))}}
{{extend 'crowdscribe-layout.html'}}

{{if featured_project:}}
  <a href={{=URL('projects','project', args=[featured_project.id])}} class = "featured_project">
      <img src="{{=URL('default','download',args = featured_project_image)}}"/>
      <div class = "overlay">
        <div class = "text">
          <h1>Featured : {{=featured_project.name}}</h1>
          <p>
            {{=featured_project.description}}
          </p>
        </div>
      </div>
  </a>
{{pass}}

{{if latest_projects:}}
  <div class="padded_container form_container no_bottom_padding">
    <h1>Latest Projects</h1>
    <p>
      The latest projects added to CrowdScribe.
    </p>
  </div>

  <div class="projects">
    {{for project in latest_projects:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>
{{pass}}

{{if most_transcribed_projects:}}
  <div class="line_seperator"></div>

  <div class="padded_container form_container no_bottom_padding">
    <h1>Most Transcribed Projects</h1>
    <p>
      Projects with the most accepted transcriptions.
    </p>
  </div>

  <div class="projects">
    {{for project in most_transcribed_projects:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>
{{pass}}

{{if not latest_projects and not most_transcribed_projects:}}
  <div class="padded_container form_container no_bottom_padding">
    <h1>Currently No Projects</h1>
    <p>
      There are currently no projects publicly available on CrowdScribe. Please sign in and start creating!
    </p>
  </div>
{{pass}}
