{{response.files.append(URL(r=request,c='static/css',f='index.css'))}}
{{extend 'crowdscribe-layout.html'}}
{{if featured_project is not None:}}
<div class = "featured_project">
  <img src="{{=URL('default','download',args = featured_project_image)}}"/>
  <div class = "overlay">
    <div class = "text">

      <h1>Featured : {{=featured_project.name}}</h1>
      <p>
        {{=featured_project.description}}
      </p>

    </div>
  </div>
</div>
{{pass}}

<div class="padded_container form_container no_bottom_padding">
  <h1>Latest Projects</h1>
</div>

<div class="projects">
  {{for project in latest_projects:}}
    {{include "subviews/project-display.html"}}
  {{pass}}
</div>

<div class="projects">

</div>
