<!DOCTYPE html>

<head>
<title>{{=response.title or request.application}}</title>

  <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{=response.title or request.application}}</title>
        <meta name="description" content="">
        <meta name="author" content="abgc500">


        <meta charset="utf-8" />

        <meta name="application-name" content="{{=request.application}}" />

        {{
        response.files.insert(0,URL('static','css/web2py.css'))
        response.files.insert(1,URL('static','css/bootstrap.min.css'))
        response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
        response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
        response.files.insert(4,URL('static','css/crowdscribe_global.css'))
        }}

        {{include 'web2py_ajax.html'}}
        <script type="text/javascript" src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static','js/web2py.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static','js/bootup.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static','js/crowdscribe.js')}}"></script>


</head>

<body>



  <div class="navbar">
    <div class="navbar-inner">



      <ul class="nav">

        <li class="logo noline">
          <a href="{{=URL('default','index')}}">
            <img src="{{=URL('static','images/logo.png')}}"/>
          </a>
        </li>

        <li class="{{= 'selected' if request.function == 'index' else ''}}">
          <a href="{{=URL('default','index')}}">Home</a>
        </li>
        <li class="{{= 'selected' if request.function == 'browse' else ''}}">
          <a href="{{=URL('default','browse')}}">Browse</a>
        </li>

        <!-- Search -->

        <li class="noline">
          <form action="{{=URL('search','search_results')}}" method="GET">
            <input type="search" name="quicksearch" class="search-query" placeholder="Search">
          </form>
        </li>

      </ul>

      <ul class="nav right">



        {{if auth.is_logged_in():}}

          <!-- Logged In -->

          <li class="{{= 'selected' if request.function == 'create_step1' else ''}}">
              <a href="{{=URL(c="projects",f="create_step1")}}">
                  Create
              </a>
          </li>

          <li class="{{= 'selected' if request.function == 'profile' else ''}}">
              <a href="{{=URL(c="user",f="profile")}}">
                  Profile
              </a>
          </li>

          <li class = "noline" >
              <a href="{{=URL(c="default",f="user/logout")}}">
                  Logout
              </a>
          </li>

        {{else:}}
          <!-- Not Logged In -->

          <li class="{{= 'selected' if request.function == 'register' else ''}}">
              <a href="{{=URL(c="user",f="register")}}">
                  Register
              </a>
          </li>

          <li class="{{= 'selected noline' if request.function == 'login' else 'noline'}}">
              <a href="{{=URL(c="user",f="login")}}">
                  Login
              </a>
          </li>

        {{pass}}


        <!-- Not Logged In -->

        <!-- <li style="width:{{=100-auth.is_logged_in()*100}}px">
            <a href="{{=URL(c="user",f="register")}}">
                {{="" if auth.is_logged_in() else "Register"}}
            </a>
        </li> -->

        <!-- <li class="">
          <a href="{{=URL('projects','create_step1')}}">Create</a>
        </li>
        <li class="rightmost">
          <a href="{{=URL('user','login')}}">Login</a>
        </li>
      </ul> -->



    </div>
  </div>

  <!-- {{=response.flash}} -->

  <!-- This is a centered message to be displayed permanently across certain pages if set in the controller -->
  <!-- It is used in the project display/edit pages to show the status and options a user has -->
  <!-- A background colour can be dynamically set from the controller -->
  <div id="message" style="background-color:{{=response.messagecolour if response.messagecolour else "#FF0000"}}">
      <div id="centeredmessage">
          {{=response.message}}
      </div>
  </div>

  <!-- This small script (not worth externally linking) just checks to see if a message exists, if it doesnt, hide the message bar -->
  <script>
      var string = "{{=response.message}}";
      if(!string || string == "None"){
          $("#message").remove();
      }
  </script>

	<div class="content_container">
      {{include}}
  </div>


</body>
</html>
