{{response.files.append(URL(r=request,c='static/css',f='user.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="padded_container form_container">

  <div id = "user_form" class="rounded_bordered_container no_margin">

    <h1>Login</h1>

    {{=form.custom.begin}}

    <div class="user_field">
      <label for='auth_user_username'>Username</label>
      {{=form.custom.widget.username}}
    </div>

    <div class="user_field">
      <label for='auth_user_password'>Password</label>
      {{=form.custom.widget.password}}
    </div>

    <button type="submit" class="btn btn-success btn-large" value="Submit">
         Log In
    </button>

    {{=form.custom.end}}

    <p>Don't have an account? Sign up <a href="{{=URL(c="user",f="register")}}">here</a>.</p>

  </div>
</div>
