{{extend 'crowdscribe-layout.html'}}

{{if under_review_projects:}}

  <div class="padded_container form_container no_bottom_padding">
    <h1>Projects Under Review</h1>
  </div>

  <div class="projects">
    {{for project in under_review_projects:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>

  <div class="line_seperator"></div>

{{pass}}

{{if open_projects_with_transcriptions:}}
  <div class="padded_container form_container no_bottom_padding">
    <h1>Open Projects with Transcriptions</h1>
  </div>

  <div class="projects">
    {{for project in open_projects_with_transcriptions:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>

  <div class="line_seperator"></div>
{{pass}}

{{if open_projects_without_transcriptions:}}
  <div class="padded_container form_container no_bottom_padding">
    <h1>Open Projects without Transcriptions</h1>
  </div>

  <div class="projects">
    {{for project in open_projects_without_transcriptions:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>

  <div class="line_seperator"></div>
{{pass}}

{{if closed_projects:}}
  <div class="padded_container form_container no_bottom_padding">
    <h1>Closed Projects</h1>
  </div>

  <div class="projects">
    {{for project in closed_projects:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>
{{pass}}
