{{extend 'crowdscribe-layout.html'}}

<div class="padded_container form_container no_bottom_padding">

  <ul class="breadcrumb">
    <li><a href="{{=URL('user','profile')}}">Profile</a> <span class="divider">/</span></li>
    <li class="active">Project Manager</li>
  </ul>

  <h1>Project Manager</h1>
  <p>
    Consectetur officia excepteur est laborum ipsum fugiat nisi exercitation laborum ad et ad labore duis.
  </p>
</div>

<div class="line_seperator"></div>

{{if under_review_projects:}}

  <div class="padded_container form_container no_bottom_padding">
    <h2>Projects Under Review</h2>
    <p>
      Consectetur officia excepteur est laborum ipsum fugiat nisi exercitation laborum ad et ad labore duis.
    </p>
  </div>

  <div class="projects">
    {{for project in under_review_projects:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>

  <div class="line_seperator"></div>

{{pass}}

{{if open_projects_with_transcriptions:}}
  <div class="padded_container form_container no_bottom_padding">
    <h2>Open Projects with Transcriptions</h2>
    <p>
      Consectetur officia excepteur est laborum ipsum fugiat nisi exercitation laborum ad et ad labore duis.
    </p>
  </div>

  <div class="projects">
    {{for project in open_projects_with_transcriptions:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>

  <div class="line_seperator"></div>
{{pass}}

{{if open_projects_without_transcriptions:}}
  <div class="padded_container form_container no_bottom_padding">
    <h2>Open Projects without Transcriptions</h2>
    <p>
      Consectetur officia excepteur est laborum ipsum fugiat nisi exercitation laborum ad et ad labore duis.
    </p>
  </div>

  <div class="projects">
    {{for project in open_projects_without_transcriptions:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>

  <div class="line_seperator"></div>
{{pass}}

{{if closed_projects:}}
  <div class="padded_container form_container no_bottom_padding">
    <h2>Closed Projects</h2>
    <p>
      Consectetur officia excepteur est laborum ipsum fugiat nisi exercitation laborum ad et ad labore duis.
    </p>
  </div>

  <div class="projects">
    {{for project in closed_projects:}}
      {{include "subviews/project-display.html"}}
    {{pass}}
  </div>
{{pass}}
