{{response.files.append(URL(r=request,c='static/css',f='user.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="padded_container form_container">

  <h1>{{=auth.user.username}}'s Profile</h1>

  <p>
    Use the links below to manage your projects and view transcriptions made.
  </p>

  <div id="button_container" class="rounded_bordered_container">

    <a href="{{=URL('projects','create_step1')}}">
      <div class="create_project profile_button border-box-sizing">
        <div class="content">
          <h2 class="no_margin">Create Project</h2>
          <h4>
            Click here to create a new CrowdScribe Project.
          </h4>
        </div>
      </div>
    </a>

    <a href="{{=URL('user','manage_projects')}}">
      <div class="manage_projects profile_button border-box-sizing">
        <div class="content">
          <h2 class="no_margin">Manage Projects</h2>
          <h4 class="no_margin">{{=num_projects_string}}</h4>
          <p>
            <ul>
              {{for string in manager_strings:}}
                <li>
                  {{=string}}
                </li>
              {{pass}}
            </ul>

          </p>
        </div>
      </div>
    </a>

    <div class="spacer"></div>

    <a href="{{=URL('user','view_own_transcriptions')}}">
      <div class="view_transcriptions profile_button border-box-sizing">
        <div class="content">
          <h2 class="no_margin">View Transcriptions</h2>
          <h4 class="no_margin">{{=num_transcription_string}}</h4>
          <p>
            <ul>
              {{for string in transcription_strings:}}
                <li>
                  {{=string}}
                </li>
              {{pass}}
            </ul>

          </p>

        </div>
      </div>
    </a>



  </div>

</div>
