{{response.files.append(URL(r=request,c='static/css',f='user.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="padded_container form_container">

  <h1>{{=auth.user.username}}'s Profile</h1>

  <p>
    Use the links below to manage your projects and transcriptions made.
  </p>

  <div id="button_container" class="rounded_bordered_container">
    <a href="{{=URL('user','manage_projects')}}">
      <div class="manage_projects border-box-sizing">
        <div class="content">
          <h2>Manage Projects</h2>
          <p>
            You have 8 projects with document transcriptions awaiting review.
          </p>
        </div>
      </div>
    </a>

    <div class="spacer"></div>

    <a href="{{=URL('user','manage_projects')}}">
      <div class="manage_projects border-box-sizing">
        <div class="content">
          <h2>View Transcriptions</h2>
          <p>
            View transcriptions you have made to projects, and their status.
          </p>
        </div>
      </div>
    </a>

  </div>

</div>
