{{response.files.append(URL(r=request,c='static/css',f='user.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="padded_container form_container">

  <div id = "user_form" class="rounded_bordered_container no_margin">

    <h1>Register</h1>
    <p>
      Enter your details below and press submit to register for CrowdScribe.
    </p>

    {{=form.custom.begin}}

    <div class="user_field">
      <label for='auth_user_username'>Username</label>
      {{=form.custom.widget.username}}
    </div>

    <div class="user_field">
      <label for='auth_user_password'>Password</label>
      {{=form.custom.widget.password}}
    </div>

    <div class="user_field">
      <label for='confirm_password'> Confirm Password</label>
      <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" class="">
    </div>

    <button type="submit" class="btn btn-success btn-large" value="Submit">
         Submit Registration
    </button>

    {{=form.custom.end}}

    <p>Already have an account? Log in <a title="Log in if you already have an account." href="{{=URL(c="user",f="login")}}">here</a>.</p>
  </div>

</div>
