<!-- This is used throughout the site to display projects in an adaptive frame -->
<div class="document border-box-sizing">

		<div class="content border-box-sizing">

			<div class="img_container_crop">
				<img src="{{=URL('default','download',args = document.image)}}"/>
			</div>

			<div class = "overlay">
				<div class="text_description border-box-sizing">

          <h4>Document Description</h4>
					<p>{{=document.description}}</p>

					{{=A(BUTTON('View Document',_class="btn btn-success"), _href= URL('projects','view_document', args=[project.id, document.id]))}}

					{{if project.status == "Under Review" and document.status == "Open":}}
						{{=A(BUTTON('Review Document Transcriptions',_class="btn btn-info"), _href= URL('projects','review_document', args=[project.id, document.id]))}}
					{{pass}}

				</div>
			</div>

		</div>
</div>
