<div class="document border-box-sizing">

		<div class="content border-box-sizing">

			<div class="img_container_crop">
				<img src="{{=URL('default','download',args = document.image)}}"/>
			</div>

			<div class = "overlay">
				<div class="text_description border-box-sizing">

          <h4>Document Description</h4>
					<p>{{=document.description}}</p>

          {{=A(BUTTON('Delete Document',_class="btn btn-danger"), callback= URL('delete_document',
            vars= dict(document_id=document.id)))}}

				</div>
			</div>

		</div>
</div>
