<!-- This is used within a project view to display documents to users -->

<!-- This is used throughout the site to display projects in an adaptive frame -->
<div class="document border-box-sizing">

		<!-- This redirects the user to the appropriate page (and removes the link if it's being created) -->
		{{if project.status != 'Being Created':}}
			<a href="{{=(URL('projects','view_document', args=[project.id, document.id]) if (project.status == 'Open' or project.status == 'Closed')
							 else URL('projects','review_document', args=[project.id, document.id]))}}" class="content border-box-sizing">
		{{else:}}
			<a class="content border-box-sizing">
		{{pass}}

			<!-- Show transcription count if the project owner is viewing, the document isn't closed, and the project isnt being created -->
			{{if auth._get_user_id() == project.author_id and document.status != "Closed" and project.status != "Being Created":}}
				<div class = "transcriptions_made">{{=document.number_of_transcriptions}} Transcription(s) Available</div>
			{{elif document.status == "Closed":}}
				<div class = "transcriptions_made">Transcription Accepted</div>
			{{pass}}

			<div class="img_container_crop">
				<img src="{{=URL('default','download',args = document.image)}}" alt = "Document Image for {{=project.name}}"/>
			</div>

			<div class = "overlay">
				<div class="text_description border-box-sizing">

          <h4>Document Description</h4>
					<p>{{=document.description}}</p>

					{{if project.status == "Open":}}
						<div class="btn btn-info">View or Transcribe Document</div>
					{{elif project.status == "Closed":}}
						<div class="btn btn-info">View Transcribed Document</div>
					{{elif project.status == "Under Review" and (document.status == "Open" or document.status == "Done"):}}
						<div class="btn btn-info">Review Document Transcriptions</div>
					{{pass}}

				</div>
			</div>
		</a>
</div>
