<div class="document">

  <!-- <a href={{=URL('default','index')}}> -->
    <div class="content">
      <div class="left">
        <img src="{{=URL('default','download',args = document.image)}}"/>
      </div>
      <div class="right">
        <div class="top"></h1>
          <h1>{{=document.status}}</h1>
        </div>
        <div class="center">
          <p>
            {{=document.description}}
          </p>
        </div>
        <div class="bottom">
            <div class="btn-group" role="group" aria-label="...">
              <a href="{{=URL('projects','view_document', args=[project.id, document.id])}}"
                 class="btn btn-info" role="button">Link Button</a>
              <!-- <button type="button" class="btn btn-default">View</button>
              <button type="button" class="btn btn-default">Transcribe</button> -->
            </div>
        </div>
      </div>
  	</div>
  <!-- </a> -->
</div>
