<div id = "project_header">

  <img src="{{=header_image}}"/>

  <div class = "overlay">
    <h1>{{=project.name}}</h1>
    <h3>{{=project.tag}} </h3>
    <h4>{{=timestring}}</h4>
    <div id = "progress">
      <h4>4/5 Transcriptions Completed</h4>
    </div>
  </div>

</div>

<div class="padded_container form_container no_bottom_padding">
  <p>{{=project.description}}</p>
</div>
<div class="documents">
    {{#FIXME: I am not sure if this is the best way to this, currently all lists are returned with some being empty, however it may be better to have ifs? idk }}
    <!--Open Documents : Not project owner -->
    {{for document in done_documents:}}
        {{include "subviews/document-display.html"}}
    {{pass}}

    <!--Open Documents With Transcription: Project owner -->
    {{for document in open_documents_with_transcription:}}
        {{include "subviews/document-display.html"}}
    {{pass}}

    <!--Open Documents Without Transcription: Project owner -->
    {{for document in open_documents_without_transcription:}}
        {{include "subviews/document-display.html"}}
    {{pass}}

    <!--Closed Documents: Project owner -->
    {{for document in closed_documents:}}
        {{include "subviews/document-display.html"}}
    {{pass}}

    <!--Done Documents : Everyone-->
    {{fdor document in done_documents:}}
        {{include "subviews/document-display.html"}}
    {{pass}}

</div>
