<div id = "project_header">

  <img src="{{=header_image}}"/>

  <div class = "overlay">
    <h1>{{=project.name}}</h1>
    <h3>{{=project.tag}} </h3>
    <h4>{{=timestring}}</h4>
    <div id = "progress">
      <h4>4/5 Documents Transcribed</h4>
    </div>
  </div>

</div>

<div class="padded_container form_container no_bottom_padding">
  <p>{{=project.description}}</p>
</div>
<div class="documents">

    <!--Project Owner-->
    {{if auth._get_user_id() == project.author_id:}}

        <!--Open Documents With Transcription: Project owner -->
        {{if open_documents_with_transcription:}}
          <h3>Open Documents With Transcription</h3>
          {{for document in open_documents_with_transcription:}}
              {{include "subviews/document-display-owner.html"}}
          {{pass}}
        {{pass}}

        {{if open_documents_without_transcription:}}
          <h3>Open Documents Without Transcription</h3>
          <!--Open Documents Without Transcription: Project owner -->
          {{for document in open_documents_without_transcription:}}
              {{include "subviews/document-display-owner.html"}}
          {{pass}}
        {{pass}}

        {{if closed_documents:}}
          <h3>Closed Documents</h3>
          <!--Closed Documents: Project owner -->
          {{for document in closed_documents:}}
              {{include "subviews/document-display-owner.html"}}
          {{pass}}
        {{pass}}

    <!--Not Project Owner-->
    {{else:}}

      {{if open_documents:}}
        <!--Open Documents : Not project owner -->
        <h3>Open Documents</h3>
        {{for document in open_documents:}}
            {{include "subviews/document-display.html"}}
        {{pass}}
      {{pass}}

    {{pass}}

    {{if done_documents:}}
      <!--Done Documents : Everyone-->
      <h3>Done Documents</h3>
      {{for document in done_documents:}}
          {{include "subviews/document-display.html"}}
      {{pass}}
    {{pass}}

</div>
