<!-- This is used throughout the site to display projects in an adaptive frame -->
<div class="project border-box-sizing">

		<a href="{{=URL('projects','project', args=[project.id])}}" class="content border-box-sizing">

			<div class="img_container_crop">
				<img src="{{=URL('default','download',args = project.header_image)}}" alt = "{{=project.name}} Image"/>
			</div>

			<div class = "overlay">
				<div class="text_container border-box-sizing">
					<h3>{{=project.name[0:18]}}</h3>
					<h4>{{=project.fraction_transcribed_string}} Documents Transcribed</h4>
					<h5>{{=project.timestring if project.timestring else "No Era Specified"}}</h5>
					<div class="tag">
						{{=project.tag}}
					</div>
					<p>{{=project.description[0:100]}}...</p>

					{{=DIV('View Project',_class="btn btn-info")}}

				</div>
			</div>
		</a>
</div>
