h1, p {
  margin: 0; }

body, html {
  padding: 0;
  height: 100%; }

.bg {
  background-color: #e6e6e6;
  height: 100%; }

.content_container {
  width: 1000px;
  min-height: 95%;
  margin-left: auto;
  margin-right: auto;
  background: #e6e6e6; }

.padded_container {
  padding: 20px;
  overflow: auto; }

.less_top_padding {
  padding-top: 10px; }

.no_bottom_padding {
  padding-bottom: 0; }

.form_container .btn {
  width: 100%; }
.form_container .string, .form_container .text, .form_container select {
  margin: 10px 5px 15px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;
  /* Firefox 1 - 28 */
  box-sizing: border-box;
  /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */ }
.form_container .string {
  height: 30px; }

.form_nav {
  height: 30px;
  text-align: center;
  padding: 10px;
  overflow: auto; }
  .form_nav .inner {
    height: 100%;
    border-radius: 10px;
    overflow: hidden; }
    .form_nav .inner a {
      color: black; }
    .form_nav .inner .stage {
      height: 100%;
      width: 33.33333%;
      background: orange;
      float: left;
      line-height: 30px;
      font-weight: bold;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-right: 3px solid #e6e6e6;
      opacity: .5; }
    .form_nav .inner .highlighted {
      opacity: 1; }
    .form_nav .inner .rightmost {
      border-right: 0; }

.projects {
  overflow: auto;
  padding: 10px; }
  .projects .project {
    float: left;
    min-width: 230px;
    min-height: 230px;
    height: 230px;
    width: 33.33333%;
    padding: 10px;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;
    /* Firefox 1 - 28 */
    box-sizing: border-box;
    /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */ }
    .projects .project .content {
      height: 100%;
      background-color: #999999; }

.documents {
  overflow: auto;
  padding: 10px; }
  .documents .doc_image {
    background: #999999;
    height: 55%; }
  .documents .doc_desc {
    height: 35%;
    -webkit-box-sizing: border-box;
    /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;
    /* Firefox 1 - 28 */
    box-sizing: border-box;
    /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
    padding: 10px;
    overflow: hidden;
    background: white; }
  .documents .doc_delete {
    background: orange;
    height: 10%; }
    .documents .doc_delete .btn {
      width: 100%;
      height: 100%;
      border-radius: 0; }
  .documents .document {
    float: left;
    min-width: 230px;
    min-height: 400px;
    height: 400px;
    width: 25%;
    padding: 10px;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;
    /* Firefox 1 - 28 */
    box-sizing: border-box;
    /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */ }
    .documents .document .content {
      height: 100%;
      background-color: #999999; }
    .documents .document a {
      color: black; }

.fields .field {
  width: 100%;
  height: 80px;
  background: #c8c8c8;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 10px; }
  .fields .field .field_left {
    float: left;
    width: 90%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }
    .fields .field .field_left h4 {
      margin: 0; }
  .fields .field .field_right {
    background: blue;
    float: left;
    width: 10%;
    height: 100%; }
    .fields .field .field_right .btn {
      border-radius: 0;
      height: 100%; }
