/*!
 * This document is used for CSS that is used on the majority of pages throughout
 * the site. This means quicker loading and less I/O. It is loaded in crowdscribe-layout.html
 */
/* The skip to content div is included at the top left of every page. It is only accesible to keyboard users, and allows them to
 skip straight to the main content. This is especially useful if screen reader users are navigating aroud multiple pages and don't want to
 constantly hear the navigation bar read to them */
.skip_to_content {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  opacity: 0;
  padding: 10px;
  z-index: 10000;
  pointer-events: none;
  text-decoration: none; }
  .skip_to_content:focus {
    opacity: 1; }

/* Global Text Formatting */
/* This can be overwritten in view specific css files */
textarea {
  resize: none; }

h1, p, h3, h4 {
  margin-top: 5px;
  margin-bottom: 5px; }

p {
  font-size: 16px; }

body, html {
  padding: 0;
  height: 100%; }

form {
  margin: 0; }

/* Site-Wide Utility Classes */
.line_seperator {
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  margin: 10px 2% 10px 2%;
  clear: both; }

.border-box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.error_container {
  border-color: red !important;
  border-width: 2px !important;
  color: red; }

.rounded_bordered_container {
  border-radius: 5px;
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 20px; }

.top_margin {
  margin-top: 20px; }

.no_margin {
  margin: 0 !important; }

.no_top_margin {
  margin-top: 0 !important; }

.no_vertical_padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/* Global navigation bar - at the top of all pages */
.navbar {
  /* Prevents right hand side overflowing */
  min-width: 1120px; }
  .navbar .navbar-inner {
    /* Used to space inner content */
    padding: 0 40px 0 40px;
    /* Slight gradient to highlight features */
    background-image: linear-gradient(to bottom, white, #f0f0f0);
    /* Some Bootstrap Overwrites */
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    height: 55px;
    /* Hides right hand content if the window size is too small */
    overflow: hidden; }
    .navbar .navbar-inner .right {
      /* Right-side content */
      float: right;
      margin-right: 0; }
    .navbar .navbar-inner .nav {
      /* List(ul) of navigation items */
      height: 55px; }
      .navbar .navbar-inner .nav .logo {
        /* Logo and Home Redirect */
        display: block;
        width: auto; }
        .navbar .navbar-inner .nav .logo a {
          /* Produces square tabbing area on TAB key press */
          width: 140px;
          height: 55px;
          /* Centralises logo within container */
          margin: 0 auto 0 auto; }
        .navbar .navbar-inner .nav .logo img {
          /* Image position is slightly adjusted to bring it in line with navigation items */
          height: 29px;
          margin: 13px 0 13px 0; }
      .navbar .navbar-inner .nav .create_project {
        /* List object widths are set manually for consistency and readability */
        width: 160px; }
      .navbar .navbar-inner .nav a:hover, .navbar .navbar-inner .nav a:focus {
        opacity: .4; }
      .navbar .navbar-inner .nav .selected a {
        /* A button is highlighted in green and bolded to signify it is the element associated with the current page */
        color: #5cb3d9;
        font-weight: bold; }
      .navbar .navbar-inner .nav .noline a {
        /* Used to more visually seperate items */
        border-right: none; }
      .navbar .navbar-inner .nav .leftline a {
        border-left: thin solid #c8c8c8; }
      .navbar .navbar-inner .nav li {
        /* Generic list item with modifiers */
        text-align: center;
        /* Standard width is 100px */
        width: 100px; }
        .navbar .navbar-inner .nav li a {
          /* Vertically centers text */
          margin: 12.5px 0 12.5px 0;
          padding: 0 10px 0 10px;
          /* Set a{} height to 30px */
          height: 30px;
          line-height: 30px;
          /* Removes bootstrap styling */
          text-shadow: none;
          color: black;
          font-weight: normal;
          font-size: 16px;
          font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
          border-right: thin solid #c8c8c8; }
      .navbar .navbar-inner .nav .search {
        width: 385px;
        display: block;
        height: 50px;
        position: relative;
        background: #e6e6e6;
        text-align: left;
        margin: 7.5px 0 7.5px 0;
        padding: 5px 5px 5px 5px;
        height: 30px;
        border-radius: 7px;
        margin-left: 10px; }
        .navbar .navbar-inner .nav .search label {
          line-height: 30px;
          font-size: 16px;
          font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
          margin: 0 10px 0 10px;
          width: auto;
          float: left;
          display: block; }
        .navbar .navbar-inner .nav .search .search_form {
          display: block;
          float: left;
          margin: 0; }
          .navbar .navbar-inner .nav .search .search_form .search-query {
            /* Search Bar */
            border-radius: 3.5px;
            float: left;
            display: block; }
          .navbar .navbar-inner .nav .search .search_form button {
            margin-top: 0 !important;
            float: left;
            display: block; }

/* Site-wide Layout Formatting */
.alert-danger, .alert-error {
  margin-bottom: 0; }

.bg {
  background-color: #e6e6e6;
  height: 100%; }

.error {
  border: none !important;
  background-image: none !important;
  background: rgba(255, 0, 0, 0.5) !important;
  padding: 5px 10px 5px 10px !important;
  width: auto  !important; }

.content_container {
  width: 1000px;
  min-height: 95%;
  margin-left: auto;
  margin-right: auto;
  background: #e6e6e6; }

.padded_container {
  padding: 20px;
  overflow: hidden; }
  .padded_container label {
    font-size: 17.5px;
    font-weight: bold; }
  .padded_container #unknown_checkbox_container {
    display: inline-block;
    padding: 0; }
  .padded_container .checkbox {
    font-size: 14.5px; }

.less_top_padding {
  padding-top: 10px; }

.no_bottom_padding {
  padding-bottom: 0; }

.no_top_padding {
  padding-top: 0; }

.no_top_bottom_padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.form_container #textarea_feedback {
  margin-bottom: 10px; }
.form_container .btn {
  width: 100%; }
.form_container .back_button {
  margin-bottom: 15px; }
.form_container .string, .form_container .text, .form_container select, .form_container .password {
  margin: 10px 5px 15px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;
  /* Firefox 1 - 28 */
  box-sizing: border-box;
  /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */ }
.form_container .string, .form_container .password {
  height: 30px; }
.form_container .forward_back_buttons {
  margin: 10px 0 10px 0;
  height: 40px; }
  .form_container .forward_back_buttons form {
    padding: 0;
    margin: 0; }
  .form_container .forward_back_buttons button {
    height: 40px;
    width: 49%;
    float: left;
    margin-left: 2%; }
  .form_container .forward_back_buttons.publish button {
    width: 100%;
    margin: 0; }
  .form_container .forward_back_buttons .full_btn {
    height: 40px;
    width: 100%; }
  .form_container .forward_back_buttons .btn-left {
    margin: 0; }
.form_container .clear-button {
  margin-top: 10px; }

.form_nav {
  height: 30px;
  text-align: center;
  padding: 10px;
  overflow: auto; }
  .form_nav .inner {
    height: 100%;
    border-radius: 10px;
    overflow: hidden; }
    .form_nav .inner a {
      color: black;
      display: block;
      width: 25%;
      height: 100%;
      float: left;
      text-decoration: none; }
      .form_nav .inner a:focus {
        opacity: .5; }
    .form_nav .inner .stage {
      background: #999999;
      line-height: 30px;
      font-weight: normal;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-right: 3px solid #e6e6e6;
      opacity: .5; }
    .form_nav .inner .clickable {
      opacity: 1;
      background: -moz-linear-gradient(#c8c8c8, #b5b5b5); }
      .form_nav .inner .clickable:hover {
        opacity: .5; }
    .form_nav .inner .highlighted {
      opacity: 1;
      font-weight: bold;
      background: -moz-linear-gradient(#5cb3d9, #559dbd);
      color: white; }
      .form_nav .inner .highlighted:hover {
        opacity: .5; }
    .form_nav .inner .rightmost {
      border-right: 0; }

.no-left-right-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.projects {
  overflow: auto;
  padding: 10px; }
  .projects .project {
    display: block;
    float: left;
    min-width: 230px;
    width: 33.33333%;
    padding: 10px;
    overflow: hidden;
    position: relative; }
    .projects .project a {
      display: block;
      color: white;
      text-decoration: none; }
      .projects .project a:hover, .projects .project a:focus {
        opacity: .75; }
    .projects .project .content {
      display: block;
      border-radius: 10px;
      position: relative;
      background-color: white;
      overflow: hidden;
      padding: 10px; }
      .projects .project .content .img_container_crop {
        overflow: hidden;
        width: 100%;
        height: 200px;
        text-align: center; }
        .projects .project .content .img_container_crop img {
          position: relative;
          min-height: 200px;
          min-width: 100%; }
      .projects .project .content .tag {
        color: rgba(0, 0, 0, 0.7); }
      .projects .project .content .overlay {
        margin-top: 40px;
        width: 100%;
        color: black; }
        .projects .project .content .overlay .text_container {
          padding: 5px 10px 10px 10px; }
          .projects .project .content .overlay .text_container h3 {
            display: inline-block;
            position: absolute;
            bottom: 200px;
            background: white;
            padding: 10px 20px 0 20px;
            left: 0;
            width: 260px; }
          .projects .project .content .overlay .text_container .extra_button {
            bottom: 230px; }
          .projects .project .content .overlay .text_container h3, .projects .project .content .overlay .text_container h5 {
            margin: 0; }
          .projects .project .content .overlay .text_container .btn {
            width: 100%;
            box-sizing: border-box;
            margin-top: 5px; }
          .projects .project .content .overlay .text_container p {
            height: 60px; }

.no_left_right_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important; }

.transcription_viewer {
  list-style-type: none;
  margin: 0; }
  .transcription_viewer .margin_bottom {
    margin-bottom: 15px; }
  .transcription_viewer .transcription pre {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0; }

.fields {
  padding: 10px 0 0 0; }
  .fields .field {
    width: 100%;
    background: #c8c8c8;
    overflow: hidden;
    margin-bottom: 10px;
    display: block;
    position: relative;
    border-radius: 10px; }
    .fields .field .field_left {
      float: left;
      width: 90%;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px; }
      .fields .field .field_left h4 {
        margin: 0; }
    .fields .field .field_right {
      width: 10%;
      height: 100%;
      position: absolute;
      left: 90%; }
      .fields .field .field_right .btn {
        border-radius: 0;
        height: 100%;
        line-height: 100%;
        vertical-align: middle;
        padding-top: 20px; }

.message {
  /* The message tag is used across all pages, and shows a message at the top when desired by the controller */
  min-width: 1000px;
  width: 100%;
  height: 30px;
  background-color: #64B58B; }
  .message .centeredmessage {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    /* I've used written colour descriptors where possible to make it more human readable */
    color: white;
    font-family: Arial;
    text-align: center;
    line-height: 30px; }
  .message a {
    display: inline-block;
    /* Need to color white here to override default */
    color: white;
    text-decoration: none;
    position: relative; }

.alert {
  border-radius: 0;
  margin: 0; }
