.featured_project {
  width: 100%;
  height: 300px;
  background: #999999;
  overflow: hidden;
  position: relative;
  display: block; }
  .featured_project:hover, .featured_project:focus {
    opacity: .75; }
  .featured_project img {
    position: absolute;
    width: 100%; }
  .featured_project .overlay {
    position: absolute;
    width: 100%;
    height: 100%; }
    .featured_project .overlay .text {
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px;
      height: 150px;
      width: 100%;
      top: 150px;
      color: white; }
