#project_header {
  width: 100%;
  height: 300px;
  background: #999999;
  position: relative;
  overflow: hidden; }
  #project_header img {
    position: absolute;
    width: 100%; }
  #project_header .overlay {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 75px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;
    /* Firefox 1 - 28 */
    box-sizing: border-box;
    /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */ }
    #project_header .overlay h3 {
      margin: 0; }
    #project_header .overlay #progress {
      color: #323232;
      margin: 10px auto 0 auto;
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      background: rgba(255, 255, 255, 0.4);
      width: 300px;
      height: 40px; }

.document_viewer {
  margin-top: 10px;
  width: 400px;
  height: 600px;
  background: #999999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  .document_viewer .document_viewer_inner {
    height: 100%;
    background: white; }

.transcription_form_holder {
  margin: 20px 0 20px 0;
  background: #c8c8c8;
  overflow: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px; }
  .transcription_form_holder h1, .transcription_form_holder p {
    margin-bottom: 10px; }
  .transcription_form_holder textarea {
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.documents {
  overflow: auto;
  padding: 10px; }
  .documents h3 {
    clear: both; }
  .documents .document {
    float: left;
    min-width: 230px;
    min-height: 300px;
    height: 300px;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .documents .document .content {
      height: 100%;
      background-color: #999999;
      border-radius: 10px;
      border-style: solid;
      border-width: 3px;
      border-color: white; }
      .documents .document .content .left {
        float: left;
        width: 45%;
        height: 100%;
        overflow: hidden; }
        .documents .document .content .left img {
          height: 300px;
          width: auto;
          max-width: none;
          min-width: 100%; }
      .documents .document .content .right {
        float: left;
        width: 55%;
        height: 100%; }
        .documents .document .content .right .top {
          text-align: left;
          height: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          overflow: hidden; }
        .documents .document .content .right .center {
          background: white;
          height: 80%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 8px;
          overflow: hidden; }
        .documents .document .content .right .bottom {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 13px;
          height: 20%;
          text-align: center; }
          .documents .document .content .right .bottom .btn-group {
            width: 100%;
            height: 100%; }
    .documents .document a {
      color: black; }
