$translucent_black :  rgba(0, 0, 0, .5);

$lightest_grey : rgb(230, 230, 230);
$light_grey : rgb(200, 200, 200);
$med_grey : rgb(153, 153, 153);

$logo_color : #5cb3d9;
$logo_color_dark : #559DBD;

$line_color : $light_grey;
