@import 'colors';

.add_new_field_form{

  $formheight:410px;
  $headerheight:90px;

  overflow:hidden;

  .field_title{
    border-radius:5px;
    border: 1px solid $light_grey;
    width:100%;
    // height:100px;
    // background:$light_grey;
    margin:10px 0 10px 0;

    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */

    padding:10px;

    .string{
      margin:0;
    }
    .text{
      height:150px;
      margin-bottom:0;
    }
  }
}

.checkbox{
  margin-top:10px;
}

#time_period_container{

  $height:130px;
  $width:200px;

  margin:10px 0 10px 0;
  height:auto;
  overflow:hidden;

  label{
    font-size:16px;
    font-weight:normal;
  }

  input{
    width:$width - 14px;
  }

  select{
    width:100%;
  }

  .date{
    border-radius:5px;
    overflow:hidden;
    display:block;
    padding:10px;
    float:left;
    width:$width;
    // height:$height;
    background:$light_grey;
    margin-right:10px;
  }

}

.add_new_document_form{

  $containerformheight:465px;
  $formheight:420px;
  $headerheight:90px;

  width:100%;
  height:$containerformheight;
  background-color:$lightest_grey;

  margin-bottom:10px;

  $imageformsize : 40%;
  $submitbtnheight : 50px;

  .document_image_upload_form{
    position:relative;
    margin-top:10px;
    float:left;
    width:$imageformsize;
    height:$formheight - $headerheight;
    background-color:$lightest_grey;
    position:relative;

    .document_image_upload_form_content{
      height:100%;
      background-color:$med_grey;
      position: relative;

      #image_upload{
        width:100%;
        height:100%;
        overflow: hidden;
        position: absolute;

        img{
          display: block;
          min-width: 100%;
          min-height: 100%;
          margin: auto;
          position: absolute;
          top: -100%;
          right: -100%;
          bottom: -100%;
          left: -100%;
        }

        img[src="#"] {
           display: none;
        }
      }

      #image_upload_overlay{
        $height:30%;
        background-color:rgba(0,0,0,0.6);
        width:100%;
        height:$height;
        position:absolute;
        top:100% - $height;

        label{
          margin-top:15px;
        }

        text-align:center;
        color:white;

        .fileUpload {
        	position: relative;
        	overflow: hidden;
        	margin: 10px;
          width:100px;
          &:focus, &:hover{
            opacity:.5;
          }
        }
        .fileUpload input.upload {
        	position: absolute;
        	top: 0;
        	right: 0;
        	margin: 0;
        	padding: 0;
        	font-size: 20px;
        	opacity: 0;
          cursor:pointer;
        	filter: alpha(opacity=0);

          &:focus, &:hover{
            opacity:.5;
            background:black;
          }
        }
      }

    }
  }

  .document_desc_upload_form{
    margin-top:10px;
    float:left;
    width:100% - $imageformsize;
    height:$formheight - $headerheight;
    background:$lightest_grey;

    .desc_field{
      height:$formheight - $headerheight - $submitbtnheight;
      padding:10px;
      -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
      -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
      box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+*/
      border: 1px solid $light_grey;
    }

    .submit_btn{
      border: 1px solid $light_grey;
      border-top:none;
      -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
      -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
      box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+*/
      height:$submitbtnheight;

      input{
        width:96%;
        height:$submitbtnheight - 22px;
        margin:2%;
        padding:0;
      }
    }
  }


}
