@import 'colors';

/*!
 * This document is used for CSS that is used on the majority of pages throughout
 * the site. This means quicker loading and less I/O. It is loaded in crowdscribe-layout.html
 */

/* Global Text Formatting */
/* This can be overwritten in view specific css files */

textarea{
	resize: none;
}

h1, p{
	margin:0;
}

p{
	font-size:1em;
}

body, html{
	padding:0;
	height: 100%;
}

/* Global navigation bar - at the top of all pages */

.navbar{

	$navheight : 55px;
	$navmargin : 15px;

	.navbar-inner{

		/* Used to space inner content */

		$padding : 40px;
		padding: 0 $padding 0 $padding;

		/* Slight gradient to highlight features */
		background-image: linear-gradient(to bottom,#FFF,rgb(240, 240, 240));

		/* Some Bootstrap Overwrites */
		border:0;
		border-bottom: 1px solid $lightest_grey;
		height:$navheight;

		/* Hides right hand content if the window size is too small */
		overflow:hidden;

		.right{
			/* Right-side content */
			float:right;
			margin-right:0;
		}

		.nav{

			/* List(ul) of navigation items */
			height:$navheight;

			.logo{

				/* Logo and Home Redirect */

				width:160px;

				a{
					/* Produces square tabbing area on TAB key press */
					width:140px;
					height:$navheight;

					/* Centralises logo within container */
					margin:0 auto 0 auto;
				}

				img{
					/* Image position is slightly adjusted to bring it in line with navigation items */
					$buffer : 3px;
					height:$navheight - $navmargin*2;
					margin:$navmargin - $buffer 0 $navmargin 0;
				}
			}

			.create_project{
				/* List object widths are set manually for consistency and readability */
				width:150px;
			}

			.selected a{
				/* A button is highlighted in green and bolded to signify it is the element associated with the current page */
				color:$logo_color;
				font-weight:bold;
			}

			.noline a{
				/* Used to more visually seperate items */
				border-right: none;
			}

			$aheight:30px;
			$margin: ($navheight - $aheight) / 2;

			li{

				/* Generic list item with modifiers */
				text-align:center;
				/* Standard width is 100px */
				width:100px;

				a{
					/* Vertically centers text */
					margin:$margin 0 $margin 0;
					padding:0 10px 0 10px;

					/* Set a{} height to 30px */
					height:$aheight;
					line-height:$aheight;

					/* Removes bootstrap styling */
					text-shadow: none;
					color:black;
					font-weight:normal;

					font-size:16px;
					font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
					border-right: thin solid $light_grey;
				}
			}

			$searchwidth : 200px;

			.search{
				width:$searchwidth;
				height:50px;
				position:relative;

				.search_form{
					position:absolute;
					width:$searchwidth;
					margin:0;

					.search-query{
						/* Search Bar */
						margin:$margin 10px $margin 10px;
						width:$searchwidth;
					}

					.search_button{
						position:absolute;
						top:8px;
						right:-35px;
						background-color: Transparent;
				    background-repeat:no-repeat;
						background-image:none;
				    border: none;
				    cursor:pointer;
				    overflow: hidden;
				    // outline:none;
					}
				}
			}
		}
	}

}

/* Site-wide Layout Formatting */

.alert-danger, .alert-error{
	margin-bottom:0;
}

.bg{
	background-color:#e6e6e6;
	height:100%;
}

.error{
	border:none !important;
	background-image:none !important;
	background:rgba(255, 0, 0, 0.5) !important;
	padding:5px 10px 5px 10px !important;
	width:auto  !important;
}

.content_container{
	width:1000px;
	min-height:95%;
	margin-left:auto;
	margin-right:auto;
	background:$lightest_grey;
}

.padded_container{
	padding:20px;
	overflow:hidden;

	label{
		font-size: 17.5px;
		font-weight: bold;
	}
}

.less_top_padding{
	padding-top:10px;
}

.no_bottom_padding{
	padding-bottom:0;
}

.form_container{
	.btn{
		width:100%;
	}
	.string, .text, select, .password{
		margin:10px 5px 15px 0;
		width:100%;
		-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	}
	.string, .password{
		height:30px;
	}
}

.form_nav{

	$navheight:30px;
	$padding:10px;

	height:$navheight;
	// background-color:red;
	text-align:center;
	padding:$padding;
	overflow:auto;

	.inner{
		// background:blue;
		height:100%;
		border-radius: 10px;

		$numstages : 4;
		overflow:hidden;

		a{
			color:black;
			display: block;
			width:100%/$numstages;
			height:100%;
			float:left;
			text-decoration: none;
		}

		.stage{
			// height:100%;
			// width:100%;
			background:$med_grey;
			// float:left;

			line-height:$navheight;
			font-weight:normal;

			-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		  border-right: 3px solid $lightest_grey;

			opacity:.5;
		}

		.clickable{
			opacity:1;
		}

		.highlighted{
			opacity:1;
			font-weight:bold;
			background:$logo_color;
			color:white;
			//rgb(70, 70, 70);
		}

		.rightmost{
			border-right:0;
		}

	}
}

.projects{

	$padding : 10px;
	$numprojectsinrow : 3;

	overflow:auto;

	padding:$padding;

	$boxwidth : 230px;
	$boxheight: 300px;

	.project{
		float:left;
		min-width:$boxwidth;
		min-height:$boxheight;
		height:$boxheight;
		width:100%/$numprojectsinrow;

		padding:$padding;
		overflow: hidden;

		position:relative;
		-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;

		a{
			width:100%;
			height:100%;
			display:block;
			color:white;
		}

		// a:focus{
		// 	border-color: rgba(229, 103, 23, 1);
	  //   box-shadow:  4px 4px 0px 0px rgba(50, 50, 50, 1);
	  //   outline: 0 none;
		// }

		.content{
			border-radius:10px;
			border-style: solid;
			border-width: 3px;
			border-color:white;

			position:relative;
			height:100%;
			background-color:$med_grey;
			overflow:hidden;

			img{
				position:absolute;
			}

			.overlay{
				position:absolute;
				width:100%;
				height:40%;
				top:60%;
				background:rgba(255, 255, 255, .9);
				color:black;

				.text{
					-webkit-box-sizing: border-box;
				  -moz-box-sizing: border-box;
				  box-sizing: border-box;
					padding:10px;

					h1{
						margin-top:0;
						font-size:20px;
						line-height:20px;
					}
				}
			}
		}

	}
}


.documents{

	$padding : 10px;
	$numprojectsinrow : 4;

	overflow:auto;

	padding:$padding;

	$boxwidth : 230px;
	$boxheight: 400px;

	$imgheight : 55%;
	$descheight : 35%;
	$deleteheight : 100% - $descheight - $imgheight;

	.crop {
	  height: $imgheight;
	  overflow: hidden;
	  position: relative;

	  img {
	    display: block;
	    min-width: 100%;
	    min-height: 100%;
	    margin: auto;
	    position: absolute;
	    top: -100%;
	    right: -100%;
	    bottom: -100%;
	    left: -100%;
	  }
	}

	.doc_image{
		background:$med_grey;
		height:$imgheight;
		overflow:hidden;
	}

	.doc_desc{
		height:$descheight;
		-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
		padding:10px;
		overflow:hidden;
		background:white;
	}

	.doc_delete{
		background:orange;
		height:$deleteheight;

		.btn{
			width:100%;
			height:100%;
			border-radius:0;
		}
	}

	.document, .document_delete{

		float:left;
		min-width:$boxwidth;
		min-height:$boxheight;
		height:$boxheight;
		width:100%/$numprojectsinrow;

		padding:$padding;
		overflow: hidden;

		position:relative;
		-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */

		.content{
			border-radius:5px;
			overflow:hidden;
			height:100%;
			background-color:$med_grey;
		}
		a{
			color:black;
		}
	}
}

.fields{

	.field{
		width:100%;
		// height:80px;
		background:$light_grey;
		overflow:hidden;
		margin-top:10px;
		display:block;
		position:relative;

		border-radius:10px;

		.field_left{
			float:left;
			width:90%;
			height:100%;
			-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
			padding:10px;

			h4{
				margin:0;
			}
		}

		.field_right{
			width:10%;
			height:100%;
			position:absolute;
			left:90%;

			.btn{
				border-radius:0;
				height:100%;
			}
		}
	}
}

/* The message tag is used across all pages, and shows a message at the top when desired by the controller */

#message{

	$messageheight:30px;

	min-width:1000px;
	width:100%;
	height:$messageheight;

	background-color:#64B58B;

	#centeredmessage{
		width:1000px;
		height:$messageheight;
		margin-left:auto;
		margin-right:auto;

		/* I've used written colour descriptors where possible to make it more human readable */
		color:white;
		font-family: Arial;
		text-align: center;
		line-height: $messageheight;
	}

	a{
		display:inline-block;
		/* Need to color white here to override default */
		color:white;
		text-decoration: none;
		position:relative;
	}
}
