@import 'colors';

/*!
 * This document is used for CSS that is used on the majority of pages throughout
 * the site. This means quicker loading and less I/O. It is loaded in crowdscribe-layout.html
 */

/* The skip to content div is included at the top left of every page. It is only accesible to keyboard users, and allows them to
 skip straight to the main content. This is especially useful if screen reader users are navigating aroud multiple pages and don't want to
 constantly hear the navigation bar read to them */

.skip_to_content{
	position:absolute;
	top:0;
	left:0;
	background:red;
	opacity:0;
	padding:10px;
	z-index:10000;
	pointer-events: none;
	text-decoration:none;

	&:focus{
		opacity:1;
	}

}

/* Global Text Formatting */
/* This can be overwritten in view specific css files */

textarea{
	resize: none;
}

h1, p, h3, h4{
	margin-top:5px;
	margin-bottom:5px;
	word-wrap: break-word;
}

p{
	font-size:16px;
	word-wrap: break-word;
}

li{
	word-wrap: break-word;
}

body, html{
	padding:0;
	height: 100%;
}

form{
	margin:0;
}

/* Site-Wide Utility Classes */

.line_seperator{
	$spacing:2%;
	// width:100% - $spacing*2;
	height:2px;
	background:rgba(0, 0, 0, .1);
	margin:10px $spacing 10px $spacing;
	clear:both;
}

$seperator-margin:20px;

.border-box-sizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.error_container{
	border-color:red !important;
	border-width: 2px !important;
	color:red;
}

.rounded_bordered_container{
  border-radius:5px;
  border-style: solid;
  border-color:$light_grey;
  border-width: 1px;
  padding:10px;
	margin-bottom:$seperator-margin;
}

.top_margin{
	margin-top:$seperator-margin;
}

.top_margin_small{
	margin-top:5px;
}

.no_margin{
	margin:0 !important;
}

.no_top_margin{
	margin-top:0 !important;
}

.no_vertical_padding{
	padding-top:0 !important;
	padding-bottom:0 !important;
}



/* Global navigation bar - at the top of all pages */

.navbar{

	$navheight : 55px;
	$navmargin : 15px;

	/* Prevents right hand side overflowing */
	min-width:1120px;

	.navbar-inner{

		/* Used to space inner content */

		$padding : 40px;
		padding: 0 $padding 0 $padding;

		/* Slight gradient to highlight features */
		background-image: linear-gradient(to bottom,#FFF,rgb(240, 240, 240));

		/* Some Bootstrap Overwrites */
		border:0;
		border-bottom: 1px solid $lightest_grey;
		height:$navheight;

		/* Hides right hand content if the window size is too small */
		overflow:hidden;

		.right{
			/* Right-side content */
			float:right;
			margin-right:0;
		}

		.nav{

			/* List(ul) of navigation items */
			height:$navheight;

			.logo{

				/* Logo and Home Redirect */

				// width:140px;
				display:block;
				width:auto;

				a{
					/* Produces square tabbing area on TAB key press */
					width:140px;
					height:$navheight;

					/* Centralises logo within container */
					margin:0 auto 0 auto;
				}

				img{
					/* Image position is slightly adjusted to bring it in line with navigation items */
					$imgmargin : 13px;
					height:$navheight - $imgmargin*2;
					margin:$imgmargin 0 $imgmargin 0;
				}
			}

			.create_project{
				/* List object widths are set manually for consistency and readability */
				width:160px;
			}

			a:hover, a:focus{
				opacity:.4;
			}

			.selected a{
				/* A button is highlighted in green and bolded to signify it is the element associated with the current page */
				color:$logo_color;
				font-weight:bold;
			}

			.noline a{
				/* Used to more visually seperate items */
				border-right: none;
			}

			.leftline a{
				border-left: thin solid $light_grey;
			}

			$aheight:30px;
			$margin: ($navheight - $aheight) / 2;

			li{

				/* Generic list item with modifiers */
				text-align:center;
				/* Standard width is 100px */
				width:100px;

				a{
					/* Vertically centers text */
					margin:$margin 0 $margin 0;
					padding:0 10px 0 10px;

					/* Set a{} height to 30px */
					height:$aheight;
					line-height:$aheight;

					/* Removes bootstrap styling */
					text-shadow: none;
					color:black;
					font-weight:normal;

					font-size:16px;
					font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
					border-right: thin solid $light_grey;
				}
			}

			$searchwidth : 270px;

			.search{
				width:385px;
				display:block;
				height:50px;
				position:relative;

				background:$lightest_grey;
				text-align:left;

				$borderradius : 7px;
				$heightnopadding : 30px;
				$padding : 5px;
				$margin : ($navheight - $heightnopadding - $padding*2) / 2;
				$heightwithpadding : $heightnopadding + $padding;

				margin: $margin 0 $margin 0;
				padding:$padding $padding $padding $padding;
				height : $heightnopadding;
				border-radius:$borderradius;

				margin-left:10px;


				label{
					line-height:$heightnopadding;
					font-size:16px;
					font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
					margin:0 10px 0 10px;
					width:auto;
					float:left;
					display:block;
					// display:inline-block;
				}

				.search_form{
					// display:inline-block;
					display:block;
					float:left;
					// position:absolute;
					// width:$searchwidth;
					margin:0;

					.search-query{
						/* Search Bar */
						// margin:$margin 10px $margin 10px;
						// width:$searchwidth;
						border-radius:$borderradius / 2;
						float:left;
						display:block;
					}

					button{
						margin-top:0 !important;
						float:left;
						display:block;
					}
				}
			}
		}
	}

}

/* Site-wide Layout Formatting */

.alert-danger, .alert-error{
	margin-bottom:0;
}

.bg{
	background-color:#e6e6e6;
	height:100%;
}

.error{
	border:none !important;
	background-image:none !important;
	background:rgba(255, 0, 0, 0.5) !important;
	padding:5px 10px 5px 10px !important;
	width:auto  !important;
}

.content_container{
	width:1000px;
	min-height:95%;
	margin-left:auto;
	margin-right:auto;
	background:$lightest_grey;
}

.padded_container{
	padding:20px;
	overflow:hidden;

	label{
		font-size: 17.5px;
		font-weight: bold;

	}

	#unknown_checkbox_container{
		display:inline-block;
		padding:0;
	}


	.checkbox{
		font-size: 14.5px;
		// font-weight: normal;
	}
}

.less_top_padding{
	padding-top:10px;
}

.no_bottom_padding{
	padding-bottom:0;
}

.no_top_padding{
	padding-top:0;
}

.no_top_bottom_padding{
	padding-top:0 !important;
	padding-bottom:0 !important;
}

.form_container{

	#textarea_feedback{
		// font-weight:bold;
		margin-bottom:10px;
		// font-size:12px;
	}

	.btn{
		width:100%;
	}

	.back_button{
	  margin-bottom:15px;
	}

	.string, .text, select, .password{
		margin:10px 5px 15px 0;
		width:100%;
		-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	}
	.string, .password{
		height:30px;
	}

	.forward_back_buttons{

		$height:40px;

		margin:10px 0 10px 0;
		height:$height;

		form{
			padding:0;
			margin:0;
		}

		button{
			height:$height;
			width:49%;
			float:left;
			margin-left:2%;
		}

		&.publish{
			button{
				width:100%;
				margin:0;
			}
		}

		.full_btn{
			height:$height;
			width:100%;
		}

		.btn-left{
			margin:0;
		}
	}

	.clear-button{
		margin-top:10px;
	}
}

.form_nav{

	$navheight:30px;
	$padding:10px;

	height:$navheight;
	// background-color:red;
	text-align:center;
	padding:$padding;
	overflow:auto;

	.inner{
		// background:blue;
		height:100%;
		border-radius: 10px;

		$numstages : 4;
		overflow:hidden;

		a{
			color:black;
			display: block;
			width:100%/$numstages;
			height:100%;
			float:left;
			text-decoration: none;

			&:focus{
				opacity:.5;
			}
		}

		.stage{
			// height:100%;
			// width:100%;
			background:$med_grey;
			// float:left;

			line-height:$navheight;
			font-weight:normal;

			-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		  border-right: 3px solid $lightest_grey;

			opacity:.5;
		}

		.clickable{
			opacity:1;
			background: -moz-linear-gradient($light_grey, #B5B5B5);


			&:hover{
				opacity:.5;
			}
		}

		.highlighted{
			opacity:1;
			font-weight:bold;
			background: -moz-linear-gradient($logo_color, $logo_color_dark);
			color:white;

			&:hover{
				opacity:.5;
			}
		}

		.rightmost{
			border-right:0;
		}

	}
}

.no-left-right-padding{
	padding-left:0 !important;
	padding-right:0 !important;
}

.projects{

	$padding : 10px;
	$numprojectsinrow : 3;

	overflow:auto;

	padding:$padding;

	$boxwidth : 230px;
	$boxheight: 400px;

	$innerpadding:10px;
	$imgheight:200px;
	$txtheight:300px;
	$btnheight:40px;
	$totalheight:410px;

	.manager{
		// height:$totalheight + $padding*2 + $btnheight !important;
	}

	.project{

		display:block;

		float:left;
		min-width:$boxwidth;
		// height:$totalheight + $padding*2;
		width:100%/$numprojectsinrow;

		padding:$padding;
		overflow: hidden;

		position:relative;

		a{
			display:block;
			color:white;
			text-decoration: none;
			&:hover, &:focus{
				opacity:.75;
			}
		}

		.content{
			display:block;
			border-radius:10px;
			position:relative;
			// height:$totalheight;
			background-color:white;
			overflow:hidden;

			padding:$innerpadding;

			.img_container_crop{
				overflow:hidden;
				width:100%;
				height:$imgheight;
				text-align:center;
				img{
					position:relative;
					min-height:$imgheight;
					min-width:100%;
				}
			}

			.tag{
				color:rgba(0, 0, 0, .7);

			}

			.overlay{
				// position:relative;
				margin-top:40px;
				width:100%;
				// height:$txtheight;
				color:black;

				.text_container{

					padding:5px 10px 10px 10px;

					h3{
						display:inline-block;
						position:absolute;
						bottom:$imgheight;
						background:white;
						padding:10px 10px 0 10px;
						left:10px;
						right:10px;
						width:$boxwidth + 40px;
					}

					.extra_button{
						bottom:$imgheight + 30px;
					}

					h3,h5{
						margin:0;
					}

					.btn{
						width:100%;
						box-sizing: border-box;
						margin-top:5px;
					}


					p{
						height:60px;
					}
				}
			}
		}

	}
}

.no_left_right_padding{
	padding-left:0 !important;
	padding-right:0 !important;
	padding-bottom:0 !important;
}


.transcription_viewer{

	list-style-type: none;
	margin:0;

	.margin_bottom{
		margin-bottom:15px;
	}

	.transcription{
		pre{
			font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
			margin:0;
		}
	}

}

.fields{

	padding:10px 0 0 0;

	.field{
		width:100%;
		// height:80px;
		background:$light_grey;
		overflow:hidden;
		margin-bottom:10px;
		display:block;
		position:relative;

		border-radius:10px;

		.field_left{
			float:left;
			width:90%;
			height:100%;
			-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
			padding:10px;

			h4{
				margin:0;
			}
		}

		.field_right{
			width:10%;
			height:100%;
			position:absolute;
			left:90%;

			.btn{
				border-radius:0;
				height:100%;
				line-height:100%;
				vertical-align: middle;
				padding-top:20px;
			}
		}
	}
}

.message{

	/* The message tag is used across all pages, and shows a message at the top when desired by the controller */

	$messageheight:30px;

	min-width:1000px;
	width:100%;
	height:$messageheight;

	background-color:$logo_color;

	.centeredmessage{
		// width:1000px;
		height:$messageheight;
		margin-left:auto;
		margin-right:auto;

		/* I've used written colour descriptors where possible to make it more human readable */
		color:white;
		font-family: Arial;
		text-align: center;
		line-height: $messageheight;
	}

	a{
		display:inline-block;
		/* Need to color white here to override default */
		color:white;
		text-decoration: none;
		position:relative;
	}
}


.alert{
	border-radius:0;
  margin:0;
}
