@import 'colors';

#project_header{
  width:100%;
  height:300px;
  background:$med_grey;


  position:relative;
  overflow:hidden;

  img{
    position:absolute;
    width:100%;
  }

  .overlay{

    background:$translucent_black;
    color:white;

    text-align:center;
    position:absolute;
    height:100%;
    width:100%;
    // position:absolute;
    text-align: center;
    top:0;
    left:0;

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      // margin-right: -0.25em; /* Adjusts for spacing */
    }

    .header_content{

      /* Used to center adaptable content */

      display: inline-block;
      vertical-align: middle;

      position:relative;

      max-width:500px;
      margin:0 auto 0 auto;

      h1{
        font-size:45px;
      }

      h3, h1{
        margin:0;
      }

      #progress{
        $height:40px;
        display:inline-block;
        overflow:hidden;
        color:rgb(50, 50, 50);
        margin:0 auto 0 auto;
        border-radius:10px;
        border-style: solid;
        border-width: 2px;
        background:rgba(255,255,255,0.7);
        padding:0 20px 0 20px;
        height:$height;

        h4{
          display:inline-block;
          margin:0;
          height:$height;
          line-height:$height;
        }
      }
    }

  }
}

.documents{

	$padding : 10px;
	$numprojectsinrow : 3;

	overflow:auto;

	padding:$padding;

	$boxwidth : 230px;
	$boxheight: 400px;

  h4, p{
    margin-left:10px;
  }

  .line_seperator{
    margin:10px 10px 10px 10px;
  }


	.document{

		$innerpadding:10px;
		$imgheight:200px;
		$txtheight:100px;
		$btnheight:40px;
		$totalheight:400px;

		float:left;
		min-width:$boxwidth;
		// height:$totalheight + $padding*2;
		width:100%/$numprojectsinrow;

		padding:$padding;
		overflow: hidden;

		position:relative;

    a{
			display:block;
			color:black;
			text-decoration: none;
			&:hover, &:focus{
				opacity:.75;
			}
		}

		.content{
			border-radius:10px;

			position:relative;
			background-color:white;
			overflow:hidden;

			padding:$innerpadding;

      .transcriptions_made{
        $height:30px;
        position:absolute;
        background:rgba(255,255,255, .85);
        width:100%;
        top:0;
        left:0;
        height:$height;
        line-height:$height;
        font-weight:bold;
        text-align:center;
      }

			.img_container_crop{
				overflow:hidden;
				width:100%;
				height:$imgheight;
				text-align:center;
				img{
					// position:relative;
					min-height:$imgheight;
					min-width:100%;
				}
			}

			.text_description{
				position:relative;
				width:100%;
				color:black;

					padding:5px 10px 10px 10px;

					// height:$txtheight;

					h3{
						line-height:35px;
					}

					h3,h5{
						margin:0;
					}

					.btn{
            box-sizing: border-box;
						width:100%;
						margin-top:5px;
            color:white;
					}

          p{
            overflow:hidden;

    				height:$txtheight;
          }
			}
		}

	}
}

.portrait{
  background:red;
}

$borderradius:15px;

#doc_submit, #doc_controls{
  background:white;
  display:block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:10px;
  border-style: solid;
  border-color:$light_grey;
  border-width: 1px;
}

#doc_submit{

  margin-bottom:20px;
  border-bottom-left-radius:$borderradius;
  border-bottom-right-radius:$borderradius;
  border-top:none;

  form{
    margin:0;
  }
}

#doc_controls{
  margin-top:20px;
  border-top-left-radius:$borderradius;
  border-top-right-radius:$borderradius;
  border-bottom:none;

  h4{
    margin-top:0;
  }

  button{
    margin-top:10px;
  }
}

#doc_display{
  /* This is used to display the document and transcription fields in either horizontal or portrait fashion */
  /* This can easily be toggled with a button at the top of the page which is widely accesible */

  // background:red;
  display:block;
  position:absolute;
  width:100%;
  position:relative;

  border-style: solid;
  border-color:$light_grey;
  border-width: 1px;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

#document_viewer{

  $landscapewidth:50%;
  $landscapeheight:auto;

  $portraitwidth:100%;
  $portraitheight:auto;

  display:block;
  position:absolute;
  text-align:center;

  &.landscape{

    background:$med_grey;
    width:$landscapewidth;
    height:$landscapeheight;
    float:left;
  }

  &.portrait{
    background:$med_grey;
    width:$portraitwidth;
    height:$portraitheight;
    clear:both;
  }


  position:relative;
  overflow:hidden;
}

#transcription_form_holder{

  display:block;
  background:white;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:10px;

  .transcription_field{
    background:$lightest_grey;
  }

  &.landscape{
    position:absolute;
    width:50%;
    float:left;
    height:100%;
    display:block;
    left:50%;
    overflow:scroll;
    max-height:100%;
  }

  &.portrait{
    width:100%;
    left:0;
  }

  &.disabled{
    overflow:hidden;
  }

  // position:relative;

  .unavailable_overlay{

    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    text-align: center;

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    .notice{

      display: inline-block;
      vertical-align: middle;

      width:200px;
      // height:100px;
      background:rgba(0,0,0,.5);
      text-align:center;
      padding:20px;
      overflow:hidden;
      color:white;
      margin:0 auto 0 auto;
      margin-top:10px;
  		border-radius:$borderradius;
  		border-style: solid;
  		border-color:$med_grey;
  		border-width: 1px;
      font-size:20px;
    }
  }

  h1, p{
    margin-bottom:10px;
  }

  textarea{
    resize: none;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
