@import 'colors';

#project_header{
  width:100%;
  height:300px;
  background:$med_grey;


  position:relative;
  overflow:hidden;

  img{
    position:absolute;
    width:100%;
  }

  .overlay{

    background:$translucent_black;
    color:white;

    text-align:center;
    position:absolute;
    // background:$translucent_black;
    width:100%;
    height:100%;

    padding-top:75px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:50px;

    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */

    h3{
      margin:0;
    }

    #progress{
      color:rgb(50, 50, 50);
      margin:10px auto 0 auto;
      border-radius:10px;
      border-style: solid;
      border-width: 2px;
      background:rgba(255,255,255,0.4);
      width:300px;
      height:40px;
    }
  }
}

.document_viewer{
  margin-top:10px;
  width:400px;
  height:600px;
  background:$med_grey;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // padding:10px;
  position:relative;
  overflow:hidden;

  margin-left:auto;
  margin-right:auto;

  .document_viewer_inner{
    height:100%;
    background:white;
  }
}

.transcription_form_holder{
  margin:20px 0 20px 0;
  // max-height:500px;
  background:$light_grey;
  overflow:scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:10px;

  h1, p{
    margin-bottom:10px;
  }

  textarea{
    resize: none;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.documents{

	$padding : 10px;
	$numprojectsinrow : 2;

	overflow:auto;

	padding:$padding;

	$boxwidth : 230px;
	$boxheight: 300px;

	$imgwidth : 55%;
	$descwidth : 35%;
	$deletewidth : 100% - $descwidth - $imgwidth;

	.document{
		float:left;
		min-width:$boxwidth;
		min-height:$boxheight;
		height:$boxheight;
		width:100%/$numprojectsinrow;

		padding:$padding;
		overflow: hidden;

		position:relative;
		-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;

		.content{
			height:100%;
			background-color:$med_grey;

      .left{
        float:left;
        width:45%;
        height:100%;
        background:red;
        overflow:hidden;

        img{
          height:$boxheight;
          width:auto;
          max-width:none;
          min-width:100%;
        }
      }

      .right{
        float:left;
        width:55%;
        height:100%;

        .top{
          text-align:left;
          height:20%;

          -webkit-box-sizing: border-box;
      	  -moz-box-sizing: border-box;
      	  box-sizing: border-box;
          padding:8px;
        }

        .center{
          background:white;
          height:60%;
          -webkit-box-sizing: border-box;
      	  -moz-box-sizing: border-box;
      	  box-sizing: border-box;
          padding:8px;
          overflow:hidden;
        }

        .bottom{

          -webkit-box-sizing: border-box;
      	  -moz-box-sizing: border-box;
      	  box-sizing: border-box;

          padding:13px;

          // background:red;
          height:20%;
          text-align:center;

          .btn-group{
            width:100%;
            height:100%;
          }
        }
      }
		}

		a{
			color:black;
		}
	}
}
