@import 'colors';

#project_header{
  width:100%;
  height:300px;
  background:$med_grey;


  position:relative;
  overflow:hidden;

  img{
    position:absolute;
    width:100%;
  }

  .overlay{

    background:$translucent_black;
    color:white;

    text-align:center;
    position:absolute;
    // background:$translucent_black;
    width:100%;
    height:100%;

    padding-top:75px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:50px;

    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */

    h3{
      margin:0;
    }

    #progress{
      color:rgb(50, 50, 50);
      margin:10px auto 0 auto;
      border-radius:10px;
      border-style: solid;
      border-width: 2px;
      background:rgba(255,255,255,0.4);
      width:300px;
      height:40px;
    }
  }
}

.documents{

	$padding : 10px;
	$numprojectsinrow : 2;

	overflow:auto;

	padding:$padding;

	$boxwidth : 230px;
	$boxheight: 300px;

	$imgwidth : 55%;
	$descwidth : 35%;
	$deletewidth : 100% - $descwidth - $imgwidth;

  h3{
    clear:both;
  }

	.document{
		float:left;
		min-width:$boxwidth;
		min-height:$boxheight;
		height:$boxheight;
		width:100%/$numprojectsinrow;

		padding:$padding;
		overflow: hidden;

		position:relative;
		-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;

		.content{
			height:100%;
			background-color:$med_grey;

      border-radius:10px;
      border-style: solid;
      border-width: 3px;
      border-color:white;

      .left{
        float:left;
        width:45%;
        height:100%;
        // background:red;
        overflow:hidden;

        img{
          height:$boxheight;
          width:auto;
          max-width:none;
          min-width:100%;
        }
      }

      .right{
        float:left;
        width:55%;
        height:100%;

        .top{
          text-align:left;
          height:0;

          -webkit-box-sizing: border-box;
      	  -moz-box-sizing: border-box;
      	  box-sizing: border-box;
          // padding:8px;
          overflow:hidden;
        }

        .center{
          background:white;
          height:80%;
          -webkit-box-sizing: border-box;
      	  -moz-box-sizing: border-box;
      	  box-sizing: border-box;
          padding:8px;
          overflow:hidden;
        }

        .bottom{

          -webkit-box-sizing: border-box;
      	  -moz-box-sizing: border-box;
      	  box-sizing: border-box;

          padding:13px;

          // background:red;
          height:20%;
          text-align:center;

          .btn-group{
            width:100%;
            height:100%;
          }
        }
      }
		}

		a{
			color:black;
		}
	}
}

.portrait{
  background:red;
}

#doc_display{
  /* This is used to display the document and transcription fields in either horizontal or portrait fashion */
  /* This can easily be toggled with a button at the top of the page which is widely accesible */

  // background:red;
  display:block;
  margin:10px 0 20px 0;
  position:absolute;
  width:100%;
  position:relative;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

#document_viewer{

  $landscapewidth:50%;
  $landscapeheight:auto;

  $portraitwidth:100%;
  $portraitheight:auto;

  display:block;
  position:absolute;

  &.landscape{

    background:blue;
    width:$landscapewidth;
    height:$landscapeheight;
    float:left;
  }

  &.portrait{
    background:green;
    margin-left:auto;
    margin-right:auto;
    width:$portraitwidth;
    height:$portraitheight;
    clear:both;
  }

  // background:$med_grey;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position:relative;
  overflow:hidden;
}

#transcription_form_holder{

  display:block;
  background:$light_grey;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:10px;

  &.landscape{
    position:absolute;
    width:50%;
    float:left;
    height:100%;
    left:50%;
    overflow:scroll;
    max-height:100%;
  }

  &.portrait{
    width:100%;
    left:0;
  }

  // position:relative;

  .unavailable_overlay{

    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    text-align: center;

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    .notice{

      display: inline-block;
      vertical-align: middle;

      width:200px;
      // height:100px;
      background:rgba(0,0,0,.5);
      text-align:center;
      padding:20px;
      overflow:hidden;
      color:white;
      margin:0 auto 0 auto;
      margin-top:10px;
  		border-radius:5px;
  		border-style: solid;
  		border-color:$med_grey;
  		border-width: 1px;
      font-size:20px;
    }
  }

  h1, p{
    margin-bottom:10px;
  }

  textarea{
    resize: none;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
