{{response.files.append(URL(r=request,c='static/css',f='create.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="form_nav">
  <div class="inner">

    <a href="{{=URL('projects','create_step1')}}"><div class="stage highlighted">1. Basic Details</div></a>

    {{if step_available['2']:}}
      <a href="{{=URL('projects','create_step2')}}"><div class="stage clickable">2. Add Documents</div></a>
    {{else:}}
      <a><div class="stage">2. Add Documents</div></a>
    {{pass}}

    {{if step_available['3']:}}
      <a href="{{=URL('projects','create_step3')}}"><div class="stage clickable">3. Fields</div></a>
    {{else:}}
      <a><div class="stage">3. Fields</div></a>
    {{pass}}

    {{if step_available['4']:}}
      <a href="{{=URL('projects','create_step4')}}"><div class="stage rightmost clickable">4. Preview</div></a>
    {{else:}}
    <a><div class="stage rightmost">4. Preview</div></a>
    {{pass}}

  </div>
</div>


<div class="padded_container form_container less_top_padding">
  <h1>Create Project (Step 1 of 4)</h1>
  <h3>Basic Details</h3>

  {{if form.errors:}}
    <div class="border-box-sizing rounded_bordered_container no_bottom_padding error_container">
      <h4>{{=len(form.errors)}} Form Errors</h4>
      <ul>
        {{for error in form.errors:}}
          <li>
            <a href="#project_{{=error}}" alt="Error, {{=form.errors[error]}}">{{=form.errors[error]}}</a>
          </li>
        {{pass}}
      </ul>
    </div>
  {{pass}}

  {{=form.custom.begin}}

  <div class="border-box-sizing rounded_bordered_container no_bottom_padding">

        <!-- <h4> Project Title</h4> -->
        <label for="project_name">Project Title</label>
        <p>
          This is what your project will be known as across CrowdScribe.
        </p>
        {{=form.custom.widget.name}}

        <label aria-label="Project Description"  for="project_description">Project Description</label>
        <p>
          Please enter a brief description of the project you are creating. This could include the intended use of the transcriptions and the style of transcription you are looking for to aid transcribers. 500 characters maximum.
        </p>
        {{=form.custom.widget.description}}
        <div id="textarea_feedback"></div>

        <label for="project_tag">Category</label>
        <div>{{=form.custom.widget.tag}}</div>

        <label for="project_time_period_start_date">Time Period</label>
        <p>
          If you are aware of the time period your project spans, you can enter this below, or otherwise mark this as unknown. This is used for advanced search. If you are navigating CrowdScribe with a keyboard, the 'space' key can be used to toggle checkboxes.

        </p>
        <input type="checkbox" name="unknown" id="unknown_checkbox" value="yes" {{if pd:}} {{if pd['unknown']== 'checked':}} checked {{pass}} {{pass}}>
        <label class="checkbox"  for="unknown_checkbox" id="unknown_checkbox_container"> Unknown Time Period</label>



        <div id="time_period_container">

          <div class="date">

            <label for="project_time_period_start_date"> Start Date:</label>
            <div class="no_margin">
              {{=form.custom.widget.time_period_start_date}}
            </div>
            <label for="start_date_adbc">Start Era:</label>
            <select id = "start_date_adbc" class="no_margin input-small" name="start_era">
                <option {{if pd:}}{{if pd['start_era'] == "AD":}} selected{{pass}}{{pass}}>AD</option>
                <option {{if pd:}}{{if pd['start_era'] == "BC":}} selected{{pass}}{{pass}}>BC</option>
            </select>

          </div>

          <div class="date">

            <label for="project_time_period_end_date"> End Date:</label>
            <div class="no_margin">
              {{=form.custom.widget.time_period_end_date}}
            </div>
            <label for="end_date_adbc">End Era:</label>
            <select id = "end_date_adbc" class="no_margin input-small" name="end_era">
                <option {{if pd:}}{{if pd['end_era'] == "AD":}} selected{{pass}}{{pass}}>AD</option>
                <option {{if pd:}}{{if pd['end_era'] == "BC":}} selected{{pass}}{{pass}}>BC</option>
            </select>

          </div>

        </div>


  </div>

  <div class="forward_back_buttons">
    <button type="submit" class="btn btn-success btn-large full_btn btn-left" value="Submit">
        Continue to Step 2 <i class='icon-arrow-right icon-white'> </i>
    </button>
  </div>

  {{=form.custom.end}}

  {{=clear_project}}


</div>

<script>
	// This jQuery checks the character count for elements that have a specific requirement and displays them

	$(document).ready(function() {
	    var text_max = 500;
      var text_length = $('#project_description').val().length;
      $('#textarea_feedback').html((text_max-text_length) + ' characters remaining');

	    $('#project_description').keyup(function() {
	        var text_length = $('#project_description').val().length;

	        $('#textarea_feedback').html((text_max-text_length) + ' characters remaining');
	    });
	});

</script>
