{{response.files.append(URL(r=request,c='static/css',f='create.css'))}}
{{response.files.append(URL(r=request,c='static/css',f='project.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="form_nav">
  <div class="inner">

    <a href="{{=URL('projects','create_step1')}}"><div class="stage clickable">1. Basic Details</div></a>

    {{if step_available['2']:}}
      <a href="{{=URL('projects','create_step2')}}"><div class="stage highlighted">2. Add Documents</div></a>
    {{else:}}
      <a><div class="stage">2. Add Documents</div></a>
    {{pass}}

    {{if step_available['3']:}}
      <a href="{{=URL('projects','create_step3')}}"><div class="stage clickable">3. Fields</div></a>
    {{else:}}
      <a><div class="stage">3. Fields</div></a>
    {{pass}}

    {{if step_available['4']:}}
      <a href="{{=URL('projects','create_step4')}}"><div class="stage rightmost clickable">4. Preview</div></a>
    {{else:}}
      <a><div class="stage rightmost">4. Preview</div></a>
    {{pass}}

  </div>
</div>

<div class="padded_container form_container less_top_padding no_bottom_padding">

  <h1>Create Project (Step 2 of 4)</h1>
  <h3>Add Documents to {{=project_name}}</h3>

  {{if add_image_form.errors:}}
    <div class="border-box-sizing rounded_bordered_container no_bottom_padding error_container">
      <h4>{{=len(add_image_form.errors)}} Form Errors</h4>
      <ul>
        {{for error in add_image_form.errors:}}
          <li>
            <a href="#project_{{=error}}" alt="Error, {{=add_image_form.errors[error]}}">{{=add_image_form.errors[error]}}</a>
          </li>
        {{pass}}
      </ul>
      {{add_image_form.errors.clear()}}
    </div>
  {{pass}}

  <div class="add_new_document_form border-box-sizing rounded_bordered_container">
    <h4>Add New Document</h4>
    <p>A project has a set of documents which you are requesting transcriptions for. These documents contain an image and a brief description of the document itself, such as place of origin, creator, publisher and so on. Any information you feel would be useful to a transcriber.</p>

    <p>Simply upload a 'Document Image' and give a brief 'Document Description' before pressing 'Add Document' to add the document to your project.</p>

    {{=add_image_form.custom.begin}}
      <div class = "document_image_upload_form">

        <div class = "document_image_upload_form_content">
          <!-- Preview Image -->

          <div id = "image_upload">
            <img src="{{=URL('static','images/upload_placeholder.png')}}" alt="Placeholder Image: Image Preview Will Appear Here"/>
            <img id="image_being_uploaded" src="#" alt="Placeholder Image: Uploaded Image Will Appear Here"/>
          </div>

          <!-- Overlay Text -->
          <div id = "image_upload_overlay">
            <label for="document_image_image">Upload Image</label>

            <div class="fileUpload btn btn-primary">
                <span>Select File</span>
                {{=add_image_form.custom.widget.image}}
            </div>
          </div>
        </div>

      </div>

      <div class = "document_desc_upload_form">

        <div class = "desc_field">
          <label for="document_image_description">Document Description</label>
          <div>
            {{=add_image_form.custom.widget.description}}
          </div>
          {{=A('Use Description from Preceding Document', _class="btn btn-info", _id="prepopulate")}}
        </div>

        <div class = "submit_btn">
          <input type="submit" value="Add Document" class="btn btn-success">
        </div>

      </div>

      {{=add_image_form.custom.end}}

  </div>

  <div class="border-box-sizing rounded_bordered_container">

    <h3>{{=len(documents_added)}} Documents For Project</h3>
    <p>Created documents can be viewed and deleted below.</p>



    {{if documents_added:}}
      <div class="documents no_left_right_padding">
        {{for document in documents_added:}}
          {{include "subviews/document-display-delete.html"}}
        {{pass}}
      </div>
    {{pass}}

    </div>

</div>

<!-- {{=add_image_form.errors}} -->
<!-- {{=go_to_step_3_form.errors}} -->

<div class="padded_container form_container less_top_padding">

  <div class="forward_back_buttons">

    {{=go_to_step_1_form}}
    {{=go_to_step_3_form}}

  </div>

  {{=clear_project}}

</div>

<!-- This simple script allows the user to prepopulate the field with their previous document text. Means users do not have to repeat redundent data. -->

<script>
  $('#prepopulate').click(function(){
   // Remove line breaks for population
   var string = '{{=session.last_description}}'
   var populate = string.replace("--","\n");
   $('#document_image_description').val(populate);

  })
</script>
