{{extend 'crowdscribe-layout.html'}}
<h1> Step 2</h1>
{{=clear_project}}
{{=add_image_form.custom.begin}}
    <label for="description"> Description:</label><div> {{=add_image_form.custom.widget.description}}</div>
    <label for="image"> Image:</label><div> {{=add_image_form.custom.widget.image}}</div>
    <br>
    <div><img id="image_being_uploaded" height="400" width="300" src="#" alt="Uploaded Image Will Appear Here"/></div>
    {{=add_image_form.custom.submit}}
{{=add_image_form.custom.end}}


{{for document in documents_added:}}
        <div>
        {{=document.description}}
        <img src="{{=URL('default','download',args = document.image)}}" />
        </div>
        {{pass}}
<div>{{=add_image_form.errors}}</div>
<div>{{=go_to_step_3_form.errors}}</div>
{{=go_to_step_1_form}}
{{=go_to_step_3_form}}