{{response.files.append(URL(r=request,c='static/css',f='create.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="form_nav">
  <div class="inner">
    <a href="{{=URL('projects','create_step1')}}"><div class="stage ">1. Basic Details</div></a>
    <a href="{{=URL('projects','create_step2')}}"><div class="stage highlighted">2. Add Documents</div></a></a>
    <a href="{{=URL('projects','create_step3')}}"><div class="stage">3. Fields</div></a>
    <a href="{{=URL('projects','create_step4')}}"><div class="stage rightmost">4. Review</div></a>
  </div>
</div>

<div class="padded_container form_container less_top_padding no_bottom_padding">

  <h1>Create Project (2/4)</h1>
  <h3>Add Documents to ProjectName</h3>

  <div class="add_new_document_form">
    <h4>Add New Document</h4>
    <p>Fugiat culpa proident magna amet esse consequat eiusmod elit proident laborum.</p>

    {{=add_image_form.custom.begin}}
      <div class = "document_image_upload_form">

        <div class = "document_image_upload_form_content">
          <!-- Preview Image -->
          <div id = "image_upload">
            <img id="image_being_uploaded" src="#" alt="Uploaded Image Will Appear Here"/>
          </div>

          <!-- Overlay Text -->
          <div id = "image_upload_overlay">
            <h4>Upload Image</h4>
            {{=add_image_form.custom.widget.image}}
          </div>
        </div>

      </div>

      <div class = "document_desc_upload_form">

        <div class = "desc_field">
          <h4>Document Description</h4>
          <div>
            {{=add_image_form.custom.widget.description}}
          </div>
        </div>

        <div class = "submit_btn">
          {{=add_image_form.custom.submit}}
        </div>

      </div>

      {{=add_image_form.custom.end}}

  </div>

  <h3>Current Documents (n)</h3>
  <p>Fugiat culpa proident magna amet esse consequat eiusmod elit proident laborum.</p>

</div>

<div class="documents_delete">
  {{for document in documents_added:}}
    {{include "subviews/document-display-delete.html"}}
  {{pass}}
</div>

<!-- {{=add_image_form.errors}} -->
<!-- {{=go_to_step_3_form.errors}} -->

<div class="padded_container form_container less_top_padding">
  {{=go_to_step_3_form}}
  {{=clear_project}}
  <!-- <input type="submit" value="Continue to Step 3" class="btn"> -->
</div>


