{{response.files.append(URL(r=request,c='static/css',f='create.css'))}}
{{extend 'crowdscribe-layout.html'}}

<!-- <div class="clear_btn">
  {{=clear_project}}
</div> -->

<div class="form_nav">
  <div class="inner">
    <a href="{{=URL('projects','create_step1')}}"><div class="stage highlighted">1. Basic Details</div></a>
    <a href="{{=URL('projects','create_step2')}}"><div class="stage">2. Documents</div></a></a>
    <a href="{{=URL('projects','create_step3')}}"><div class="stage">3. Fields</div></a>
    <a href="{{=URL('projects','create_step4')}}"><div class="stage rightmost">4. Review</div></a>
  </div>
</div>

<div class="padded_container form_container less_top_padding">
  <h1>Create Project (1/4)</h1>
  <h3>Basic Details</h3>

  {{=form.custom.begin}}

      <h4> Project Title</h4>
      <p>
        Ut elit cillum qui et officia consequat reprehenderit excepteur incididunt fugiat qui. Aliqua esse dolor velit excepteur ea aliquip Lorem anim minim ut. Sunt quis deserunt velit ipsum labore adipisicing. Elit amet qui aliqua fugiat consequat laboris nisi eiusmod culpa.
      </p>
      <div> {{=form.custom.widget.name}}</div>

      <h4> Project Description</h4>
      <p>
        Ut elit cillum qui et officia consequat reprehenderit excepteur incididunt fugiat qui. Aliqua esse dolor velit excepteur ea aliquip Lorem anim minim ut. Sunt quis deserunt velit ipsum labore adipisicing. Elit amet qui aliqua fugiat consequat laboris nisi eiusmod culpa.
      </p>
      <div> {{=form.custom.widget.description}}</div>

      <h4>Category</h4>
      <p>
        Ut elit cillum qui et officia consequat reprehenderit excepteur incididunt fugiat qui. Aliqua esse dolor velit excepteur ea aliquip Lorem anim minim ut. Sunt quis deserunt velit ipsum labore adipisicing. Elit amet qui aliqua fugiat consequat laboris nisi eiusmod culpa.
      </p>
      <div>{{=form.custom.widget.tag}}</div>

      <h4>Time Period</h4>
      <p>
        Mention that SPACE toggles checkboxes. reprehenderit excepteur incididunt fugiat qui. Aliqua esse dolor velit excepteur ea aliquip Lorem anim minim ut. Sunt quis deserunt velit ipsum labore adipisicing. Elit amet qui aliqua fugiat consequat laboris nisi eiusmod culpa.
      </p>
      <div>
          <label class="checkbox"  for="unknown"> <span id="unknown_checkbox_container"> Unknown</span>
                          <input type="checkbox" name="unknown" id="unknown_checkbox" value="yes"
                      {{if pd:}} {{if pd['unknown']== 'checked':}} checked {{pass}} {{pass}}>
          </label>
      </div>
      <div id="time_period_container">

        <div class="date">

          <label class ="" for="start_date"> Start Date:</label>
          <div class="float_left">
            {{=form.custom.widget.time_period_start_date}}
          </div>
          <select class="float_left input-small" name="start_era">
              <option {{if pd:}}{{if pd['start_era'] == "AD":}} selected{{pass}}{{pass}}>AD</option>
              <option {{if pd:}}{{if pd['start_era'] == "BC":}} selected{{pass}}{{pass}}>BC</option>
          </select>

        </div>

        <div class="date">

          <label for="end_date"> End Date:</label>
          <div class="float_left">
            {{=form.custom.widget.time_period_end_date}}
          </div>
          <select class="float_left input-small" name="end_era">
              <option {{if pd:}}{{if pd['end_era'] == "AD":}} selected{{pass}}{{pass}}>AD</option>
              <option {{if pd:}}{{if pd['end_era'] == "BC":}} selected{{pass}}{{pass}}>BC</option>
          </select>

        </div>

      </div>

      {{=form.custom.submit}}

  {{=form.custom.end}}

</div>
