{{response.files.append(URL(r=request,c='static/css',f='create.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="form_nav">
  <div class="inner">

    <a href="{{=URL('projects','create_step1')}}"><div class="stage clickable">1. Basic Details</div></a>

    {{if step_available['2']:}}
      <a href="{{=URL('projects','create_step2')}}"><div class="stage clickable">2. Add Documents</div></a>
    {{else:}}
      <div class="stage">2. Add Documents</div>
    {{pass}}

    {{if step_available['3']:}}
      <a href="{{=URL('projects','create_step3')}}"><div class="stage highlighted">3. Fields</div></a>
    {{else:}}
      <div class="stage">3. Fields</div>
    {{pass}}

    {{if step_available['4']:}}
      <a href="{{=URL('projects','create_step4')}}"><div class="stage rightmost clickable">4. Review</div></a>
    {{else:}}
      <div class="stage rightmost">4. Review</div>
    {{pass}}

  </div>
</div>

<div class="padded_container form_container less_top_padding">

  <h1>Create Project (3/4)</h1>
  <h3>Add Fields</h3>

  <div class="add_new_field_form">

    <h4>Add New Field</h4>
    <p>Fugiat culpa proident magna amet esse consequat eiusmod elit proident laborum.</p>

    {{=add_fields_form.custom.begin}}

    <div class="field_title">
      <h4>Field Name</h4>
      <div> {{=add_fields_form.custom.widget.name}}</div>
    </div>

    <div class="field_title">
      <h4>Field Description</h4>
      {{=add_fields_form.custom.widget.short_description}}
    </div>

    {{=add_fields_form.custom.submit}}

    {{=add_fields_form.custom.end}}

  </div>

  <h3>Current Fields</h3>
  <p>Fugiat culpa proident magna amet esse consequat eiusmod elit proident laborum.</p>

  <div class="fields">
    {{for field in fields_added:}}
      <!-- {{=field.name}}
      {{=field.short_description}} -->
      {{include "subviews/field-display.html"}}
    {{pass}}
  </div>

  <!-- {{=add_fields_form.errors}} -->
  <br>
  {{=review_project_form}}
  {{=clear_project}}

</div>
