{{response.files.append(URL(r=request,c='static/css',f='create.css'))}}
{{response.files.append(URL(r=request,c='static/css',f='project.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="form_nav">
  <div class="inner">

    <a href="{{=URL('projects','create_step1')}}"><div class="stage clickable">1. Basic Details</div></a>

    {{if step_available['2']:}}
      <a href="{{=URL('projects','create_step2')}}"><div class="stage clickable">2. Add Documents</div></a>
    {{else:}}
      <a><div class="stage">2. Add Documents</div></a>
    {{pass}}

    {{if step_available['3']:}}
      <a href="{{=URL('projects','create_step3')}}"><div class="stage highlighted">3. Fields</div></a>
    {{else:}}
      <a><div class="stage">3. Fields</div></a>
    {{pass}}

    {{if step_available['4']:}}
      <a href="{{=URL('projects','create_step4')}}"><div class="stage rightmost clickable">4. Preview</div></a>
    {{else:}}
      <a><div class="stage rightmost">4. Preview</div></a>
    {{pass}}

  </div>
</div>

<div class="padded_container form_container less_top_padding no_bottom_padding">

  <h1>Create Project (Step 3 of 4)</h1>
  <h3>Add Fields to {{=project_name}}</h3>

  {{if add_fields_form.errors:}}
    <div class="border-box-sizing rounded_bordered_container no_bottom_padding error_container">
      <h4>{{=len(add_fields_form.errors)}} Form Errors</h4>
      <ul>
        {{for error in add_fields_form.errors:}}
          <li>
            <a href="#project_{{=error}}" alt="Error, {{=add_fields_form.errors[error]}}">{{=add_fields_form.errors[error]}}</a>
          </li>
        {{pass}}
      </ul>
      {{add_fields_form.errors.clear()}}
    </div>
  {{pass}}

  <div class="add_new_field_form border-box-sizing rounded_bordered_container">

    <h4>Add New Field</h4>
    <p>A field is a particular area or section of your project documents that you would like transcribed. This could be, for example, a title, company name, signatory and so on. Fields are uniform across all documents for a project.</p>
    <p>If you want your whole document transcribed as one block, simply use one field.</p>
    <p>You can use the 'Field Description' to give more detail into what exactly you are looking to have transcribed. For instance, 'Text on the logo in the bottom right of the document.' or 'All signatories across whole document.'</p>

    {{=add_fields_form.custom.begin}}

    <div class="field_title">
      <label for="no_table_name">Field Name</label>
      <div> {{=add_fields_form.custom.widget.name}}</div>
    </div>

    <div class="field_title">
      <label for="no_table_short_description">Field Description</label>
      {{=add_fields_form.custom.widget.short_description}}
    </div>

    <input type="submit" value="Add Transcription Field" class="btn  btn btn-success">

    {{=add_fields_form.custom.end}}

  </div>

  <div class="border-box-sizing rounded_bordered_container">

    <h3>{{=len(fields_added)}} Fields For Project</h3>
    <p>Created fields can be viewed and deleted below.</p>

    {{if fields_added:}}
    {{=delete_all_fields_form}}
      <div class="fields">
        {{for field in fields_added:}}
          {{include "subviews/field-display-delete.html"}}
        {{pass}}
      </div>

    {{pass}}
  </div>

  <div class="border-box-sizing rounded_bordered_container">

    <h3>{{=len(documents_added)}} Documents For Project</h3>
    <p>The the documents you have added to your project.</p>

    {{if documents_added:}}
      <div class="documents no_left_right_padding">
        {{for document in documents_added:}}
          {{include "subviews/document-create-display.html"}}
        {{pass}}
      </div>

    {{pass}}

  </div>

</div>

<div class="line_seperator"></div>

<div class="padded_container form_container no_vertical_padding">
  <div class="forward_back_buttons no_top_margin">
    {{=go_to_step_2_form}}
    {{=review_project_form}}
  </div>
  {{=clear_project}}
</div>

<div class="line_seperator"></div>
