{{response.files.append(URL(r=request,c='static/css',f='project.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="padded_container form_container no_bottom_padding">

  <ul class="breadcrumb">
    <li><a href="{{=URL('projects','project', args=[project.id])}}">{{=project.name}}</a> <span class="divider">/</span></li>
    <li class="active">Reviewing Document</li>
  </ul>

  <a href = "{{=URL('projects','project', args=[project.id])}}" class="back_button btn btn-info">Go Back to Project Page</a>

  <h1>Reviewing Document for {{=project.name}}</h1>
  <h3>{{=project.tag}} {{=timestring}}</h3>

  <h4>Document Description</h4>
  <p>{{=document.description}}</p>

  <div id="doc_controls">
    <h4>Review Instructions</h4>
    <p>The transcriptions that have been made for this document are shown below. You can either accept a transcription and mark the document as 'Done', or reject all of them using the button at the bottom of the page and reopen the document for transcription.</p>
    <p>To view the document in a larger format press the 'Toggle View' button to switch between portrait and landscape mode.</p>

    <button id="toggle_button" class="btn">Toggle Document View Layout</button>
  </div>

  <div id="doc_display" class="border-box-sizing">
    <!-- Maybe highlight that image can be opened in new tab for zooming etc -->
    <div id="document_viewer" class="landscape">
          <img src="{{=URL('default','download',args = document.image)}}" alt="document"/>
    </div>


      <div id="transcription_form_holder" class="{{="disabled" if response.message else ""}} landscape">

        <ul class = "transcription_viewer">
        {{for transcription in transcriptions:}}
                <div>
                <h3> Transcription {{=transcription['number']}} by {{=transcription['user']}}</h3>
                {{for index, field in enumerate(transcription['transcription']): }}
                    <li class = "transcription margin_bottom">

                          <h4>Field {{=index+1}} : {{=field.data_field.name}}</h4>
                          <p>Description : {{=field.data_field.short_description}}</p>
                          <pre>{{=field.transcribed_field.information}}</pre>


                    </li>
                {{pass}}
                {{=transcription['button']}}
                <div class="line_seperator"></div>
                </div>
        {{pass}}
        </ul>


    {{if response.message:}}
        <div class="unavailable_overlay">
          <div class="notice">{{=response.message}}</div>
        </div>

    {{pass}}
    </div>

</div>

<div id="doc_submit">

  {{=reject_all_form}}
gi
</div>

<script>
  $("#toggle_button").click(function(){
    $("#document_viewer")          .toggleClass('portrait').toggleClass('landscape');
    $("#transcription_form_holder").toggleClass('portrait').toggleClass('landscape');
  })

</script>
