{{response.files.append(URL(r=request,c='static/css',f='project.css'))}}
{{extend 'crowdscribe-layout.html'}}

<div class="padded_container form_container no_bottom_padding">

  <!-- Breadcrumbs so user can go back to project -->

  <ul class="breadcrumb">
    <li><a href="{{=URL('projects','project', args=[project.id])}}">{{=project.name}}</a> <span class="divider">/</span></li>
    <li class="active">Reviewing Document</li>
  </ul>

  <!-- We found through testing that this wasn't obvious enough, so added a second button to allow users to go back to the project -->

  <a href = "{{=URL('projects','project', args=[project.id])}}"><div  class="back_button btn btn-info border-box-sizing">
    Go Back to Project Page
  </div></a>

  <!-- Display controls for owner -->

  {{if auth._get_user_id() == project.author_id and project.status != "Being Created":}}

      <div class="rounded_bordered_container no_margin">

        <p><b>You are the owner of this document and can :</b></p>

        {{if project.status == "Open":}}
          {{=A(DIV('Place this Project under Review',_class="btn btn-danger border-box-sizing"),
              callback= URL('close_project_for_review_from_view_document', vars= dict(project_id=project.id, document_id=document.id)))}}
        {{pass}}

        <!-- If the project is under review show an option to reopen it -->
        {{if project.status == "Under Review":}}
          {{=A(DIV('Open Project For Transcriptions',_class="btn btn-success border-box-sizing"),
              callback= URL('open_project_from_view_document'
              , vars= dict(project_id=project.id, document_id=document.id)))}}
        {{pass}}


      </div>

  {{pass}}

  <h1>Reviewing Document for {{=project.name}}</h1>
  <h3>{{=project.tag}} {{=timestring}}</h3>

  <h4>Document Description</h4>
  <p>{{=document.description}}</p>

  <div id="doc_controls">
    <h4>Review Instructions</h4>
    <p>The transcriptions that have been made for this document are shown below. You can either accept a transcription and mark the document as 'Done', or reject all of them using the button at the bottom of the page and reopen the document for transcription.</p>
    <p>To view the document in a larger format press the 'Toggle View' button to switch between portrait and landscape mode.</p>

    <!-- The user can toggle the page view to better see the document -->
    <button id="toggle_button" class="btn">Toggle Document View Layout</button>
  </div>

  <div id="doc_display" class="border-box-sizing">

    <!-- Maybe highlight that image can be opened in new tab for zooming etc -->
    <div id="document_viewer" class="landscape">
          <img src="{{=URL('default','download',args = document.image)}}" alt="document"/>
    </div>

    <div id="transcription_form_holder" class="{{="disabled" if response.message else ""}} landscape">



      <!-- Submitted transcriptions are coded as a list for screen reader accesibility -->

        {{for transcription in transcriptions:}}
            <h3> Transcription {{=transcription['number']}} by {{=transcription['user']}}</h3>
            <ul class = "transcription_viewer">
            {{for index, field in enumerate(transcription['transcription']): }}
                <li class = "transcription margin_bottom">

                      <h4>Field {{=index+1}} : {{=field.data_field.name}}</h4>
                      <p>Description : {{=field.data_field.short_description}}</p>
                      <pre>{{=field.transcribed_field.information}}</pre>


                </li>
            {{pass}}
            <li>
              {{=transcription['button']}}
              <div class="line_seperator"></div>
            </li>
        {{pass}}
      </ul>

      <!-- If the transcriptions are unavailable for whatever reason, display a message -->
      {{if response_message:}}
          <div class="unavailable_overlay">
            <div class="notice">{{=response_message}}</div>
          </div>
      {{pass}}
    </div>

  </div>

</div>

<div id="doc_submit">
  <!-- Show a reject all transcriptions button -->
  {{=reject_all_form}}
</div>

<script>
  // Simple script for toggling the view. If the user has no JS then they are in landscape mode
  $("#toggle_button").click(function(){
    $("#document_viewer")          .toggleClass('portrait').toggleClass('landscape');
    $("#transcription_form_holder").toggleClass('portrait').toggleClass('landscape');
  })
</script>
