{{response.files.append(URL(r=request,c='static/css',f='project.css'))}}
{{extend 'crowdscribe-layout.html'}}

<script type="text/javascript" src={{=URL("static","js/zoomimage/jquery.js")}}></script>

<link rel="stylesheet" media="screen" type="text/css" href={{=URL("static","css/zoomimage/zoomimage.css")}} />
<script type="text/javascript" src={{=URL("static","js/zoomimage/eye.js")}}></script>
<script type="text/javascript" src={{=URL("static","js/zoomimage/utils.js")}}></script>
<script type="text/javascript" src={{=URL("static","js/zoomimage/zoomimage.js")}}></script>
<script type="text/javascript" src={{=URL("static","js/zoomimage/layout.js")}}></script>

<div class="padded_container form_container no_bottom_padding">

  <ul class="breadcrumb">
    <li><a href="{{=URL('projects','project', args=[project.id])}}">{{=project.name}}</a> <span class="divider">/</span></li>
    <li class="active">Document</li>
  </ul>

  <h1>{{=project.name}}</h1>
  <h3>{{=project.tag}} {{=timestring}}</h3>

  <h4>Document Description</h4>
  <p>{{=document.description}}</p>

  <div id="doc_controls">
    <h4>Transcription Instructions</h4>
    <p>Ex occaecat reprehenderit laboris consequat ex. Commodo tempor do proident in velit officia. Eu et eu cupidatat consectetur enim consequat. You can toggle the way you view the document and transcription form with the button below.</p>

    <button id="toggle_button" class="btn">Toggle View</button>
  </div>

  <div id="doc_display" class="border-box-sizing">
    <!-- Maybe highlight that image can be opened in new tab for zooming etc -->
    <div id="document_viewer" class="landscape">
          <!-- <a href="{{=image}}" class="docGal" title="document"><img src="{{=image}}" alt="document"/></a> -->
          <img src="{{=image}}" alt="document"/>
    </div>

    <div id="transcription_form_holder" class="{{="disabled" if response.message else ""}} landscape">
      {{if form and not accepted_transcription_with_fields:}}

          <!-- If there is an overlay, the form should be disabled to prevent TABBING into it -->
          <fieldset {{="disabled" if response.message else ""}}>

            {{for field in form:}}
              {{=field}}
            {{pass}}

          </fieldset>

      {{elif accepted_transcription_with_fields:}}

        <h3>Accepted Transcription</h3>

        {{for field in accepted_transcription_with_fields:}}
        <h4>{{=field.data_field.name}}</h4>
        <p>

          {{=field.data_field.short_description}}
        </p>

        {{pass}}

      {{pass}}

      {{if response.message and not accepted_transcription_with_fields:}}
          <div class="unavailable_overlay">
            <div class="notice">{{=response.message}}</div>
          </div>

      {{pass}}
    </div>

  </div>

  <div id="doc_submit">

    {{if form and not response.message and not accepted_transcription_with_fields:}}
      {{=form.custom.begin}}
        <input class="btn btn-primary" type="submit" value="Submit Transcription">
      {{=form.custom.end}}
    {{elif accepted_transcription_with_fields:}}
      <input class="btn btn-primary" type="submit" value="Transcription Accepted" disabled>
    {{elif response.message:}}
      <input class="btn btn-primary" type="submit" value="Cannot Currently Submit Transcription" disabled>
    {{pass}}

  </div>

</div>

<script>
  $("#toggle_button").click(function(){
    $("#document_viewer")          .toggleClass('portrait').toggleClass('landscape');
    $("#transcription_form_holder").toggleClass('portrait').toggleClass('landscape');
  })

</script>
